@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MYRIADPROREGULAR.eot");
  src: local("MYRIADPROREGULAR"), url("./MYRIADPROREGULAR.woff") format("woff"), url("../fonts/MYRIADPROREGULAR.ttf") format("truetype"); }

* {
  text-decoration: none;
  background-repeat: no-repeat; }

.main {
  width: 100%;
  height: 446px;
  background-position: center top;
  background-image: url(../img/bg-top.jpg);
  padding-top: 70px;
  text-align: center; }
  .main .menu {
    display: none; }
  .main .logo {
    display: block;
    text-align: center; }
  .main .device-menu {
    position: relative;
    margin: 33px auto; }
    .main .device-menu .dropdown {
      margin: 0px auto;
      width: 45px; }
    .main .device-menu .device-menu__button {
      display: block;
      text-align: center;
      margin: 0px auto;
      width: 45px;
      height: 28px;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 2px solid #edbfff;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
      opacity: 1; }
    .main .device-menu .device-menu__button--hidden {
      opacity: 0; }
    .main .device-menu .submenu {
      display: none;
      position: absolute;
      z-index: 15000;
      margin: 0px auto;
      top: -14px;
      left: 0;
      right: 0;
      width: 245px;
      height: 257px;
      border: 1px solid #111b22;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background-color: rgba(63, 51, 72, 0.7); }
      .main .device-menu .submenu .submenu__item {
        width: 100%;
        height: 43px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px solid #36293e;
        border-top: 1px solid #503d58; }
        .main .device-menu .submenu .submenu__item:first-of-type {
          -webkit-border-radius: 10px 10px 0 0;
                  border-radius: 10px 10px 0 0; }
        .main .device-menu .submenu .submenu__item:last-of-type {
          -webkit-border-radius: 0 0 10px 10px;
                  border-radius: 0 0 10px 10px; }
        .main .device-menu .submenu .submenu__item:hover {
          background-color: rgba(63, 51, 72, 0.9);
          border-bottom: #edbfff 2px solid; }
        .main .device-menu .submenu .submenu__item .submenu__link {
          display: block;
          padding-top: 12px;
          text-align: center;
          margin: 0px auto;
          width: 245px;
          height: 28px;
          font-family: "LeagueGothicRegular", sans-serif;
          font-size: 24px;
          color: #fff;
          text-transform: uppercase; }
  .main .slider-wrapper .slider__arrow {
    position: absolute;
    top: 305px;
    z-index: 10000;
    width: 28px;
    height: 40px;
    background-image: url(../img/sprite.png);
    cursor: pointer; }
  .main .slider-wrapper .slider__arrow--left {
    background-position: -2px 1px;
    left: 0px; }
  .main .slider-wrapper .slider__arrow--right {
    background-position: -25px 1px;
    right: 0; }
  .main .slider-wrapper .slider {
    margin: 100px auto 20px;
    overflow: hidden;
    width: 303px;
    height: 100px;
    position: relative; }
    .main .slider-wrapper .slider .slider__container {
      position: relative;
      left: 0;
      width: 5000px;
      height: 100px; }
      .main .slider-wrapper .slider .slider__container .slider__slide {
        float: left;
        width: 270px;
        margin-top: 21px;
        margin-left: 22px;
        text-align: center; }
        .main .slider-wrapper .slider .slider__container .slider__slide .slider__iphone {
          display: none; }
        .main .slider-wrapper .slider .slider__container .slider__slide .slider__header {
          font-family: "LeagueGothicRegular", sans-serif;
          font-size: 36px;
          color: #fefefe;
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          text-transform: capitalize; }
        .main .slider-wrapper .slider .slider__container .slider__slide .slider__motto {
          padding-top: 2px;
          font-family: "LeagueGothicRegular", sans-serif;
          font-size: 18px;
          color: #edbfff;
          text-transform: uppercase;
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
        .main .slider-wrapper .slider .slider__container .slider__slide .slider__text {
          display: none; }
  .main .slider-wrapper .slider__dots {
    width: 90px;
    margin: 54px auto; }
    .main .slider-wrapper .slider__dots .slider__dot {
      float: left;
      margin: 3px;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    .main .slider-wrapper .slider__dots .slider__dot--active {
      background-image: url(../img/sprite.png);
      background-position: -91px -1px; }

.about {
  height: 526px;
  padding-top: 72px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #765283), color-stop(100, #36293d));
  background-image: -webkit-linear-gradient(top, #765283 0%, #36293d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#765283), to(#36293d));
  background-image: linear-gradient(to bottom, #765283 0%, #36293d 100%);
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .about .about__block {
    width: 85%;
    height: 130px;
    margin: 0 auto 35px; }
    .about .about__block .about__icon {
      float: left;
      margin-left: 8px;
      width: 27px;
      height: 33px;
      background-image: url(../img/sprite.png);
      background-position: -156px 0px; }
    .about .about__block .about__icon--middle {
      background-position: -59px 0px; }
    .about .about__block .about__icon--last {
      background-position: -130px 0px; }
    .about .about__block .about__header {
      float: left;
      margin-left: 24px;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 24px;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(15, 21, 24, 0.7);
      text-transform: uppercase; }
    .about .about__block .about__text {
      clear: both;
      height: 60px;
      overflow: hidden;
      margin-left: 59px;
      font-family: "OpenSansLight", sans-serif;
      font-size: 16px;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(15, 21, 24, 0.4);
      line-height: 20px; }
    .about .about__block .about__link {
      text-align: right;
      margin-top: 20px;
      float: right;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.4); }
      .about .about__block .about__link:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); }

.blogs {
  margin: 0px auto;
  border-top: 1px solid white;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  height: 784px;
  -webkit-box-shadow: inset 0px 6px 12px -8px rgba(0, 0, 0, 0.74);
  box-shadow: inset 0px 6px 12px -8px rgba(0, 0, 0, 0.74); }
  .blogs .blog-container {
    width: 100%;
    margin: 65px auto 0; }
    .blogs .blog-container .blog {
      display: none;
      margin: 0px auto;
      padding-top: 27px;
      padding-left: 36px;
      width: 70%;
      height: 247px;
      background-color: #FFF;
      border: 1px solid #efefef; }
      .blogs .blog-container .blog .blog__photo {
        float: left;
        margin-top: -7px;
        margin-left: -60px;
        margin-right: 10px; }
      .blogs .blog-container .blog .blog__header {
        margin-top: 27px;
        font-family: "LeagueGothicRegular", sans-serif;
        font-size: 24px;
        color: #454545;
        text-transform: uppercase; }
      .blogs .blog-container .blog .blog__header--purple {
        width: 100px;
        color: #edbfff; }
      .blogs .blog-container .blog .blog__text {
        margin-top: 7px;
        width: 85%;
        height: 185px;
        overflow: hidden;
        font-family: "OpenSansLight", sans-serif;
        font-size: 16px;
        line-height: 23px; }
    .blogs .blog-container .blog--active {
      display: block; }
  .blogs .blog__dots {
    width: 100px;
    margin: 19px auto 0;
    height: 19px; }
    .blogs .blog__dots .blog__dot {
      float: left;
      margin: 3px;
      width: 16px;
      height: 16px;
      background-color: #FFF;
      border: 1px solid #e6e6e6;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      cursor: pointer; }
    .blogs .blog__dots .blog__dot--active {
      background-image: url(../img/sprite.png);
      background-position: -110px -1px; }
  .blogs .updates {
    margin: 50px auto 0;
    height: 270px; }
    .blogs .updates .updates__header {
      display: block;
      margin-top: 15px;
      margin-left: 20px;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 30px;
      color: #454545;
      text-transform: uppercase; }
    .blogs .updates .updates__block {
      margin: 15px auto;
      width: 90%;
      height: 53px; }
      .blogs .updates .updates__block .updates__image {
        float: left;
        width: 50px;
        height: 50px;
        margin-left: 5px;
        -webkit-border-radius: 100%;
                border-radius: 100%;
        background-image: url(../img/image.jpg); }
      .blogs .updates .updates__block .updates__image--middle {
        background-position: -60px -30px; }
      .blogs .updates .updates__block .updates__image--bottom {
        background-position: -30px -45px; }
      .blogs .updates .updates__block .updates__title {
        float: left;
        margin-top: 5px;
        margin-left: 15px;
        width: 200px;
        height: 17px;
        overflow: hidden;
        font-family: "OpenSansExtraBold", sans-serif;
        font-size: 16px;
        color: #454545; }
        .blogs .updates .updates__block .updates__title:hover {
          text-decoration: underline; }
      .blogs .updates .updates__block .updates__text {
        float: left;
        margin-top: 8px;
        margin-left: 15px;
        width: 216px;
        height: 17px;
        overflow: hidden;
        font-family: "OpenSansLight", sans-serif;
        font-size: 16px; }
    .blogs .updates .updates__link {
      text-align: right;
      margin-top: 0px;
      margin-right: 25px;
      float: right;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 18px;
      color: #454545;
      text-transform: uppercase; }
      .blogs .updates .updates__link:hover {
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); }

.partners {
  height: 420px;
  border-top: 1px solid #fefefe;
  background-color: #f9f9f9; }
  .partners .partners__container {
    height: 380px;
    margin: 10px auto 0; }
    .partners .partners__container .partners__logo {
      display: block;
      margin-top: 40px;
      margin-left: 60px;
      width: 65px;
      height: 65px;
      float: left;
      background-image: url(../img/sprite-partners.png); }
    .partners .partners__container .partners__logo--blabong {
      margin-left: 63px;
      width: 69px;
      height: 64px;
      background-position: 0px -274px; }
    .partners .partners__container .partners__logo--dg {
      margin-left: 55px;
      width: 72px;
      height: 64px;
      background-position: 0px -209px; }
    .partners .partners__container .partners__logo--wheel {
      margin-top: 62px;
      margin-left: 71px;
      width: 65px;
      height: 65px;
      background-position: 0px -82px; }
    .partners .partners__container .partners__logo--awsm {
      margin-top: 63px;
      margin-left: 65px;
      width: 50px;
      height: 63px;
      background-position: 0px -147px; }
    .partners .partners__container .partners__logo--rvca {
      clear: both;
      margin-top: 63px;
      margin-left: 43px;
      width: 103px;
      height: 21px;
      background-position: 0px 0px;
      float: left; }
    .partners .partners__container .partners__logo--von {
      margin-top: 43px;
      margin-left: 56px;
      width: 78px;
      height: 61px;
      background-position: 0px -21px; }

.news {
  display: none; }

.footer {
  height: 201px;
  background-image: url(../img/bg-bottom.jpg);
  background-position: center bottom;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0px 6px 12px -8px rgba(0, 0, 0, 0.74);
  box-shadow: inset 0px 6px 12px -8px rgba(0, 0, 0, 0.74); }
  .footer .menu {
    display: none; }
  .footer .copy {
    width: 140px;
    margin: 39px auto; }
    .footer .copy .copy__des {
      font-family: "OpenSansLight", sans-serif;
      font-size: 12px;
      color: #fff;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }
    .footer .copy .copy__des--by {
      font-family: "OpenSansExtraBold", sans-serif; }
