<!DOCTYPE html>
<html>
<head>
  <title>js lessons</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/style.css">

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="js/template.js"></script>
  <script src="js/script.js"></script>

</head>
<body>

	<div class="sheet1">

		<script type="text/template" id="aboutme">

			<h1 class="name"><%= name %></h1>
		  <p class="position"><%= position %></p>
	    <h3 class="section">I want to learn frontend because:</h3>
      <p class="text"><%= reasons %></p>
      <hr>
		  <p class="section">My phone number:</p>
      <p class="text"><%= phone %></p>
      <p class="section">My Facebook profile:</p>
      <p class="text"><%= fb %></p>
      <hr>
		  <p class="section">My feedback:</p>
		  <p class="text"><%= feedback %></p>
      
    </script>

  <br>


  <div class="text_block">
	</div>

	</div>


</body>
</html>

