
 // =========== MOBILE 320PX ===========

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {

  .main-container{
    width: 320px;
    margin: 0 auto;
  }
  
  .promo{
    height: 540px;
    width: 100%;
    background-image: url("../../img/promo_pic_mobile.jpg");

    .promo__acc{
      font-family: $mon-b;
      color: #fff;
      font-size: 14px;
      display: block;
      float: left;
      margin-top: 29px;
      text-decoration: none;
    }

    .promo__acc--login{
      padding-top: 2px;
      margin-left: 83px;
    }

    .promo__acc--signup{
      margin-top: 20px;
      margin-left: 20px;
      text-align: center;
      line-height: 32px;
      width: 89px;
      height: 36px;
      border: 2px solid #fff;
      border-radius: 30px;
      box-sizing: border-box;
    }

    .promo__name{
      padding-top: 173px;
      margin-left: 69px;
      font-family: $mon-b;
      font-size: 20px;
      color: #fff;
      letter-spacing: 1px;
    }

    .promo__motto{
      padding-left: 1px;
      padding-top: 3px;
      line-height: 36px;
      font-size: 30px;
      text-align: center;
      margin-top: 27px;
      color: #fff;
      text-transform: uppercase;
      font-family: $mon-b;
    }

    .promo__text{
      display: block;
      padding-top: 9px;
      padding-left: 45px;
      width: 230px;
      font-size: 18px;
      color: #fff;
      font-family: $rob-l;
      text-align: center;
      line-height: 21px;
    }

    .promo__btn{
      display: block;
      margin: 16px 0px 0px 19px;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      background-color: $redBtn;
      width: 281px;
      height: 40px;
      color: #fff;
      border-radius: 30px;
      font-family: $mon-b;
      font-size: 14px;
    }

  }

  .howitworks{
    margin-top: 37px;
    width: 100%;
    height: 815px;
    background-color: #fff;

    .howitworks__left,
    .howitworks__right{
      display: none;
    }

    .howitworks__header{
      margin-left: -2px;
      color: #333333;
      font-size: 22px;
      font-family: $mon-b;
      text-align: center;
    }

    .howitworks__step{
      position: relative;
      display: block;    
      text-decoration: none;
      margin: 16px 0px 10px 10px;
      height: 240px;
      width: 300px;
      border-radius: 4px;
    }

    .howitworks__step--1{
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)),
                        url("../../img/step_1.jpg");}

    .howitworks__step--2{
      margin: 10px 0px 10px 10px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)),
                        url("../../img/step_2.jpg");}

    .howitworks__step--3{
      margin: 10px 0px 10px 10px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)),
                        url("../../img/step_3.jpg");}

    .howitworks__button{
      position: absolute;
      top: 69px;
      left: 22px;
      background-color: $redBtn;
      width: 70px;
      height: 20px;
      color: #fff;
      border-radius: 10px;
      box-sizing: border-box;
      text-align: center;
      font-family: $mon-r;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 22px;
      letter-spacing: 2px;
    }

    .howitworks__button--2{
      position: absolute;
      top: 99px;
      left: 21px;
    }

    .howitworks__blockheader{
      color: #fff;
      font-size: 24px;
      font-family: $mon-b;
      padding-top: 104px;
      padding-left: 19px;
      line-height: 29px;
    }

    .howitworks__blockheader--2{
      padding-top: 134px;
      padding-left: 18px;
    }

    .howitworks__text{
      display: block;
      width: 260px;
      color: rgb(204, 204, 204);
      font-family: $rob-l;
      font-size: 14px;
      padding-top: 11px;
      padding-left: 19px;
      line-height: 17px;
    }

    .howitworks__text--2{
      padding-top: 10px;
      padding-left: 19px;
      letter-spacing: 0.09px;
    }
  }

  .partners{
    margin: 0px 0px;
    width: 100%;
    height: 1090px;
    background-color: #fff;

    .partners__header{
      display: block;
      width: 300px;
      margin-left: 6px;
      margin-bottom: 12px;
      text-align: center;
      color: #333333;
      font-size: 22px;
      font-family: $mon-b;
      line-height: 24px;
    }

    .partners__block{
      margin: 15px auto;
      height: 205px;
      width: 220px;
      text-align: center;

      .partners__photo{
        position: relative;
        height: 120px;
        width: 120px;

        .partners__img{
        border-radius: 50%;
        }

        .partners__icon{
          position: absolute;
          top: -22px;
          left: 86px;
          z-index: 1000;
          border: 4px solid #fff;
          border-radius: 50%;
          width: 32px;
          height: 32px;

          .partners__pic{
            margin: 7px 0px 0px 6px;
            background-image: url("../../img/sprite.png");
          }

          .partners__pic--1{
            width: 17px;
            height: 17px;
            background-position: 0px 0px;
          }
        }

        .partners__icon--1{
          background-color: #ff4e50;
          background-position: 0px 0px;
        }
      }

      .partners__name{
        display: block;
        margin: 16px 0px 10px -2px;
        text-decoration: none;
        font-size: 14px;
        font-family: $mon-b;
        color: #333;
        font-weight: bold;
      }

      .partners__info{
        padding-top: 4px;
        font-family: $rob-l;
        font-size: 14px;
        line-height: 18px;
      }
    }
    
    .partners__block--2{
      margin-top: 25px;

      .partners__photo{
        .partners__img--2{
          max-height: 120px;      
        }

        .partners__icon--2{
          background-color: #ffa507;
          top: -21px;
          left: 85px;

          .partners__pic--2{
            margin: 7px 0px 0px 9px;
            width: 13px;
            height: 16px;
            background-position: -27px 1px;
          }
        }      
      }
    }

    .partners__block--3{
      margin-top: 57px;
      margin-left: 47px;

      .partners__photo{

        .partners__img{
          max-height: 120px;
        }

        .partners__icon--3{
          background-color: #1cd7ad;
          top: -21px;
          left: 85px;

          .partners__pic--3{
            margin: 7px 0px 0px 9px;
            width: 17px;
            height: 17px;
            background-position: -52px 0px;
          }
        }
      }
    }


    .partners__block--4{
      margin-top: 25px;
      margin-left: 48px;

      .partners__photo{

        .partners__img{
          max-height: 120px;
        }

        .partners__icon--4{
          background-color: #4e73db;
          top: -22px;
          left: 84px;

          .partners__pic--4{
            margin: 9px 0px 0px 7px;
            width: 17px;
            height: 16px;
            background-position: -77px 0px;
          }
        }
      }
    }

    .partners__button{
      margin: 23px 0px 0px 18px;
      display: block;
      width: 280px;
      height: 40px;
      border: 2px solid $redBtn;
      border-radius: 30px;
      box-sizing: border-box;
      text-align: center;
      font-family: $mon-b;
      font-size: 14px;
      line-height: 37px;
      text-decoration: none;
      color: $redBtn;
    }
  }


  .ideas__header{
    text-align: center;
    font-family: $mon-b;
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 24px;
  }


  /* Masonry */
  .ideas__container {
    margin: 0 auto;
    width: 300px; 

    .ideas__link{
      display: block;
      background-color: rgba(0,255,0,0.6);
      width: 300px;
      height: 121px;
      margin-bottom: 5px;
      text-align: center;
      font-family: $mon-b;
      font-size: 22px;
      color: #fff;
      text-decoration: none;   
    }

    .ideas__name{
      position: absolute;
      top: 50px;
      left: auto;
    }
  }

  .ideas__header--bottom{
    margin: 55px 0px 0px -3px;
    line-height: 26px;
  }

  .ideas__form{
    height: 230px;
    text-align: center;

    .ideas__question{
      margin: 12px 0px 0px -2px;
      font-family: $rob-l;
      font-size: 18px;
      color: #333;
    }

    .ideas__input{
      margin: 18px 0px 0px -2px;
      padding-left: 14px;
      width: 280px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 2px;
      box-sizing: border-box;
      font-family: $rob-l;
      font-size: 14px;
    }

    .ideas__button{
      margin: 10px 0px 0px 18px;
      display: block;
      width: 280px;
      height: 40px;
      background-color: $redBtn;
      border-radius: 30px;
      text-align: center;
      font-family: $mon-b;
      font-size: 14px;
      line-height: 37px;
      color: #fff;
      border: none;
    }
  }

  footer{
    border-top: 4px solid $redBtn;
    text-align: center;

    .footer__logo{
      display: block;
      margin: 17px 0px 0px -4px;
      font-family: $mon-b;
      font-weight: bold;
      font-size: 17px;
      text-decoration: none;
      color: $redBtn;
    }

    .footer__company{
      display: block;
      margin: 14px 0px 0px -4px;
      font-family: $mon-b;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .footer__links{
      width: 220px;
      height: 17px;
      margin: -45px auto;

      .footer__link{
        margin: 10px 5px 0px 5px;
        font-family: $rob-l;
        font-size: 14px;
        color: #666;
        text-decoration: none;
      }
    }
    
    .footer__company--partners{
      margin-top: 36px;
    }

    .footer__design{
      margin-top: 90px;
      color: #ccc;
      font-family: $mon-b;
      font-size: 10px;
      text-transform: uppercase;
      margin-bottom: 8px;
      letter-spacing: 1px;
    }

    .footer__des-logo{
      margin-top: 10px;
    }
  }
}