@import 'variables';

body{
	margin: 0px auto;
	width: 320px;    
}

.border{
	background-image: url("../img/des/mobile_border-gray.png");
	clear: both;
	height: 3px;
	margin-top: 10px;
}

.border--blue{
	background-image: url("../img/des/mobile_border-blue.png");
}

.border--gray2{
	background-image: url("../img/des/2mobile_border-gray.png");
	margin-top: 0;
}
.header{
	width: 100%;
	height: 50px;
	position: relative;

	.header__options{
		.header__lang,
		.header__support,
		.header__set{
			display: none;
		}
	}

	.header__menubtn  {
		display: block;
		float: left;
		margin-left: 25px;
		margin-top: 14px;

		img {
			height: 19px;
			width: 23px;
		}
	}

	.dmenu{
		display: none;
	}



	.header__menu{
		background-color: #FFF;
		display: none;
		height: 768px;
		left: 0;
		position: absolute;
		top: 0;
		width: 320px;
		z-index: 100000;
		
		.header__buttons{
			margin-right: 50px;
			margin-top: 42px;

			.header__link{
				background-image: url("../img/svg/mobile__forward.svg");
				background-position: right;
				background-repeat: no-repeat;
				color: #1469eb;
				display: block;
				font-family: $os;
				font-size: 18px;
				font-weight: 400;
				height: 20px;
				letter-spacing: 1px;
				margin-bottom: 53px;
				padding-right: 50px;
				text-align: right;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
		

		.header__block{
			height: 42px;
			padding-left: 30px;
			padding-top: 15px;
			transition: 0.9s;

			.submenu{
				display: none;
				margin-top: 10px;

				.submenu__item{
					background-repeat: no-repeat;
					list-style-image: url("../img/des/dot.png");
					margin-bottom: 13px;
					margin-left: 58px;
					padding-left: 3px;

					a{
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 1px;
						text-transform: none;
					}
				}

			}

			a{
				background-color: #FFF;
				color: #1469eb;
				font-family: $os;
				font-size: 16px;
				font-weight: 800;
				line-height: 12px;
				text-decoration: none;
				text-transform: uppercase;
			}

			.header__back{
				background-image: url("../img/svg/mobile__back.svg");
				background-position: left;
				background-repeat: no-repeat;
				display: block;
				font-size: 12px;
				height: 14px;
				padding-left: 39px;
				padding-top: 4px;
			}

			.header__lang{
				background-image: url("../img/svg/sprite__langs.svg");
				background-repeat: no-repeat;
				background-size: 17px;
				display: block;
				float: left;
				font-size: 18px;
				height: 13px;
				margin-left: 62px;
				margin-top: 8px;
				padding-left: 23px;
			}

			.header__lang--en{
				background-position: 0px -13px;
				margin-left: 27px;
			}

			.header__item{
				background-image: url("../img/svg/sprite__menu-icons.svg");
				background-repeat: no-repeat;
				background-size: 36px;
				display: block;
				font-size: 15px;
				height: 20px;
				margin-top: -8px;
				padding-left: 61px;
				padding-top: 17px;
			}


			.header__item--guarant{
				background-position: 0px -34px;
				background-size: 37px;
				height: 24px;
			}

			.header__item--pay{
				background-position: 0px -76px;
			}

			.header__item--online{
				background-position: 0px -114px;
			}

			.header__item--knowledge{
				background-position: 0px -151px;
			}
		}

		.header__block--active{
			height: 132px;
			transition: 0.5s;
		}

		.header__block:first-of-type{
			height: 34px;
		}
	}

	.header__logo{
		background-image: url("../img/svg/logo-icon.svg");
		background-repeat: no-repeat;
		float: left;
		height: 19px;
		margin-bottom: 14px;
		margin-left: 40px;
		margin-top: 11px;
		padding-left: 28px;
		padding-top: 5px;
		width: auto;

		img{
			height: 19px;
		}
	}

	.header__login{
		background-image: url("../img/svg/desktop__forward.svg");
		background-position: right;
		background-repeat: no-repeat;
		color: #3E69E4;
		display: block;
		float: left;
		font-family: $os;
		font-size: 12px;
		font-weight: 800;
		height: 16px;
		line-height: 17px;
		margin-left: 43px;
		margin-top: 16px;
		padding-right: 20px;
		text-decoration: none;
	}


}

.autoexcange{
	background-image: url("../img/des/mobile_top-block.png");
	background-repeat: no-repeat;
	height: 461px;
	margin-left: 9px;
	margin-top: 56px;
	padding-top: 70px;
	position: relative;
	width: 304px;

	.autoexcange__header{
		background-color: #FFF;
		color: #666;
		display: block;
		font-family: $os;
		font-size: 16px;
		font-weight: 800;
		letter-spacing: 1px;
		line-height: 19px;
		margin-left: 21px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: -6px;
		width: 260px;
	}

	.autoexcange__block{
		background-image: url("../img/des/mobile__menu-block.png");
		background-repeat: no-repeat;
		height: 245px;
		margin-left: 7px;
		width: 293px;
	}

	.autoexcange__section{
		height: 70px;
		margin-bottom: 10px;
		margin: 0px auto;
		position: relative;
		width: 280px;

		.container{
			left: 91px;
			position: absolute;
			top: -9px;
		}

		 .container--get{
		 	top: 1px;
		 }

		.hovered{
			background-image: url("../img/des/mobile__hovered.png");
			height: 92px;
			width: 100px;
		}

		.autoexcange__numbers{
			color: #666;
			float: left;
			font-family: $os;
			font-weight: 800;
			text-transform: uppercase;
			width: 90px;

			.autoexcange__sell{
				font-size: 11px;
				letter-spacing: 0.7px;
				margin-left: 5px;
				margin-top: 11px;
			}

			.autoexcange__sell--get{
				margin-top: 24px;
			}

			.autoexcange__price{
				font-size: 20px;
				margin-top: 13px;
				margin-left: 3px;
			}

			.autoexcange__price--get{
				margin-left: 5px;
				margin-top: 13px;
			}
		}

		.autoexcange__service{
			background-image: url("../img/svg/services--pm.svg");
			background-position: 0 2px;
			background-repeat: no-repeat;
			background-size: 30px;
			left: 8px;
			padding-left: 50px;
			padding-top: 2px;
			position: absolute;
			top: 40px;

			.autoexcange__menu{
				background-color: #FFF;
				background-image: url("../img/des/mobile__grid.png");
				background-position: 4px center;
				background-repeat: no-repeat;
				border: 1px solid #1469eb;
				border-top: none;
				display: none;
				height: 153px;
				left: -92px;
				position: absolute;
				top: 52px;
				width: 261px;
				z-index: 1000;

				.autoexcange__item{
					background-image: url("../img/logos/btc.png");
					background-position: 27px 11px;
					background-repeat: no-repeat;
					color: #666;
					cursor: pointer;
					float: left;
					font-family: $os;
					font-size: 13px;
					height: 75px;
					text-align: center;
					width: 82px;

					p{
						margin-top: 50px;
					}
				}

				.autoexcange__item--2{
					background-image: url("../img/logos/pm.png");
					background-position: 34px 11px;
					width: 92px;
				}
				.autoexcange__item--3{
					background-image: url("../img/logos/paymer.png");
					background-position: 30px 9px;
					width: 86px;
				}
				.autoexcange__item--4{
					background-image: url("../img/logos/ok.png");
					background-position: 19px 15px;
				}
				.autoexcange__item--5{
					background-image: url("../img/logos/zp.png");
					background-position: 35px 10px;
					width: 92px;
				}
				.autoexcange__item--6{
					background-image: url("../img/logos/pb24.png");
					background-position: 34px 14px;
					width: 86px;
				}

				.autoexcange__item--desktop{
					display: none;
				}
			}
		}

		.autoexcange__service--get{
			background-image: url("../img/svg/services--pb.svg");
			background-position: 0 0
		}

		.autoexcange__currency{
			color: #666;
			font-family: $os;
			font-size: 20px;
			font-weight: 800;
			left: 197px;
			position: absolute;
			top: 33px;

			span{
				display: block;
				float: left;
				padding-top: 3px;
			}

			.autoexcange__dropdown img{
				padding-left: 9px;
			}
		}

		.autoexcange__currency--get{
			top: 41px;
		}
	}

	.autoexcange__dropdown img{
		height: 26px;
		padding-top: 0px;
	}

	.autoexcange__section--bottom{
		height: 46px;

		.autoexcange__button{
			color: #1469EB;
			display: block;
			font-family: $os;
			font-size: 20px;
			font-weight: 800;
			letter-spacing: 2px;
			margin-top: 60px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
	}


	.service{
		background-image: url("../img/svg/services--pb.svg");
		background-repeat: no-repeat;
		background-size: 32px;
		margin-bottom: 19px;
		margin-left: 3px;
		margin-top: 20px;
		padding-left: 37px;

		.service__text{
			color: #737373;
			font-family: $os;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.4px;
			line-height: 16px;
			text-align: center;
		}

		.service__text--info{
			font-weight: 300;
		}
	}

	hr{
		width: 130px;
	}

	.support{
		background-image: url("../img/svg/mailto.svg");
		background-position: 0 4px;
		background-repeat: no-repeat;
		background-size: 32px;
		margin-left: 4px;
		margin-top: 19px;
		padding-left: 43px;
		text-align: center;

		.support__link{
			color: #337CEB;
			font-family: $os;
			font-size: 14px;
			line-height: 14px;
			text-decoration: none;
		}
	}



}


.info{
	display: none;
}

.news{
	height: 384px;
	text-align: center;

	.news__header{
		color: #666;
		font-family: $os;
		font-size: 14px;
		font-weight: 800;
		letter-spacing: 1px;		
		margin-bottom: 20px;
		margin-top: 22px;
		text-transform: uppercase;
	}

	.news__img{
		margin: 2px 0px 0px 0px;
	}

	.news__img--base{
		margin: 4px 0px 0px 0px;
	}

	.news__text{
		font-family: $os;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		margin: 15px auto;
		width: 210px;
		color: #666;
	}

	.news__btn{
		background-color: #FFF;
		background-image: url("../img/svg/ff.svg");
		background-position: right;
		background-repeat: no-repeat;
		border: none;
		color: #1469eb;
		font-family: $os;
		font-size: 14px;
		font-weight: 800;
		height: 12px;
		line-height: 12px;
		margin-left: -5px;
		margin-top: 7px;
		padding-right: 25px;
	}

	.news__btn--base{
		margin-top: 8px;
	}
}

.news--base{
	height: 387px;
}

.carousel{
	position: relative;
    height: 340px;
    overflow: hidden;
    width: 320px;
	
    .carousel__list,
    .carousel__list--base{
    	position: relative;
    	width: 5000px;
	    
	    .carousel__item{
	    	float: left;
	    	width: 320px;
	    	margin-right: 40px;
	    }
    }



    .carousel__left,
    .carousel__right{
		top: 216px;
		z-index: 10000;
    	height: 42px;
    	position: absolute;
    	width: 42px;
    }

	.carousel__left--base,
	.carousel__right--base{
		height: 42px;
		position: absolute;
		top: 215px;
		z-index: 10000;
    	width: 42px;
	}

	.carousel__left{
		left: 10px;
	}

	.carousel__right{
		right: 10px;
	}

	.carousel__left--base{
		left: 10px;
	}

	.carousel__right--base{
		right: 10px;
	}
}


.ways{
	margin-bottom: 32px;
	text-align: center;

	.ways__header{
		background-image: url("../img/svg/down.svg");
		background-position: right;
		background-repeat: no-repeat;
		color: #1469eb;
		font-family: $os;
		font-size: 14px;
		font-weight: 800;
		height: 12px;
		margin-right: 39px;
		margin-top: 10px;
	}

	.ways__list{
		list-style-image: url("../img/des/dot.png");
		margin-left: 39px;
		margin-top: 25px;
		text-align: left;

		.ways__item{
			margin-bottom: 23px;
			margin-top: 5px;
			padding-left: 5px;

			.ways__link{
				color: #1469eb;
				font-family: $os;
				font-size: 16px;
				font-weight: 400;
				text-decoration: none;
			}
		}

		.ways__item--w1,
		.ways__item--btc,
		.ways__item--paymer,
		.ways__item--ad,
		.ways__item--wm{
			display: none;
		}
	}
}

.howto{
	background-image: url("../img/des/mobile_bottom-block.png");
	background-repeat: no-repeat;
	height: 1250px;
	margin: 49px auto 27px;
	padding-top: 22px;
	position: relative;
	width: 305px;

	.howto__header{
		background-color: #FFF;
		color: #666;
		font-family: $os;
		font-size: 16px;
		font-weight: 800;
		left: 33px;
		letter-spacing: 1px; 
		margin: 0px auto;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: -5px;
		width: 240px;
	}

	.howto__textblock{
		margin-top: 10px;
		padding-left: 5px;
		
		.howto__text{
			font-family: $os;
			font-size: 14px;
			font-weight: 400;
			height: 390px;
			line-height: 17px;
			margin: 10px auto;
			overflow: hidden;
			width: 270px;
			color: #666;
		}
	}

}

.social{
	height: 70px;
	margin: 64px 0px 0px 14px;
	width: 280px;
	
	.social__header{
		display: none;
	}
	.social__item{
		float: left;
		height: 50px;
		margin: 10px;
		width: 50px;

		img{
			height: 35px;
		}
	}

	.social__item--fb{
		margin-left: 17px;
		margin-right: 3px;
	}

	.social__item--goo{
		margin-left: 17px;
		margin-right: 0;
	}
}

.footer{
	height: 540px;
	margin: 2px 0px 0px 12px;

	.devmenu{
		display: none;
	}


	.menu__block{
		float: left;
		margin-top: 26px;
		text-align: center;
		width: 130px;

		.menu__header{
			background-image: url("../img/svg/sep.svg");
			background-position: 140px 6px;
			background-repeat: no-repeat;
			background-size: 15px;
			border: 1px solid #b6ceff;
			border-right: none;
			color: #666;
			float: left;
			font-family: $os;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 30px;
			margin-bottom: 20px;
			padding-left: 22px;
			text-align: left;
			text-transform: uppercase;
			width: 140px;
		}


		.menu__header--3{
			padding-left: 33px;
		}


		.menu__item{
			margin-top: 12px;
			padding-left: 5px;

			.menu__link{
				color: #666;
				font-family: $os;
				font-size: 12px;
				text-decoration: none;
			}
		}

	}

	.menu__block--right{
		padding-left: 25px;

		.menu__header--right{
			background-image: none;
			border-left: none;
			border-right: 1px solid #b6ceff;
			padding-left: 32px;
			width: 109px;
		}

		.menu__header--4{
			text-align: left;
			// padding-left: 36px;
		}
	}

	.menu__block--bottom{
		clear: both;
		float: none;
		position: relative;
		width: 295px;

		.menu__header--bottom{
			background-image: none;
			border: 1px solid #b6ceff;
			margin-top: 28px;
			padding: 0;
			text-align: center;
			width: 295px;
		}

		.menu__link{
			color: #666;
			font-family: $os;
			font-size: 12px;
			margin-top: 17px;
			text-decoration: none;
		}

		.menu__sep{
			left: 48px;
			position: absolute;
			top: 38px;
			width: 15px;
		}

		.menu__sep--2{
			left: 233px;
		}
	}

}

@media only screen and (min-width: 1055px){
	body{
		margin: 0px auto;
		width: 1038px;
	}

	.border{
		display: none;
	}

	.border--blue{
		display: none;
	}

	.border--gray2{
		display: none;
	}

	.border--gray--long{
		clear: both;
		height: 3px;
		background-image: url("../img/des/desktop_border--gray-long.png");
	}

	.header{
		height: 260px;

		.header__logo{
			height: 29px;
			margin-left: 37px;
			margin-top: 17px;
			padding-left: 45px;
			padding-top: 6px;

			img{
				height: 22px;
			}
		}

		.header__options{
			float: left;
			margin-left: 388px;
			margin-top: 1px;

			.header__login{
				background-image: url("../img/svg/desktop__dropdown.svg");
				background-repeat: no-repeat;
				background-size: 12px 12px;
				border: 1px solid #666;
				color: #666;
				cursor: pointer;
				display: block;
				float: left;
				font-family: $os;
				font-size: 12px;
				font-weight: 800;
				height: 20px;
				letter-spacing: 1px;
				line-height: 17px;
				margin-left: 16px;
				margin-top: 16px;
				padding-right: 20px;
				padding: 5px;				
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.6s;

				&:hover{
					border: 1px solid #7da3ef;
					color: #1469eb;
					transition: 0.6s;
				}
			}

			.header__lang{
				background-position: 42px 8px;
				padding-left: 13px;
				width: 46px;
			}

			.header__support{
				background-position: 116px 8px;
				height: 22px;
				padding-bottom: 3px;
				padding-left: 12px;
				position: relative;
				width: 121px;

				span{
					letter-spacing: 1px;
				}

				.dropdown{
					background-color: #FFF;
					border: 1px solid #7da3ef;
					border-top: none;
					display: none;
					left: -1px;
					position: absolute;
					top: 100%;
					width: 138px;

					.dropdown__item{
						background-image: url("../img/svg/list-dot.svg");
						background-position: 12px 6px;
						background-repeat: no-repeat;
						background-size: 3px;
						margin-bottom: 4px;
						padding-left: 20px;

						&:hover{
							background-color: #1469eb;
							background-image: url("../img/svg/list-dot--white.svg");

							.dropdown__link{
								color: #fff;
							}	
						}
					}

					.dropdown__link{
						color: #666;
						font-size: 12px;
						font-weight: 400;
						letter-spacing: 0px;
						text-decoration: none;
					}
				}
			}

			.header__set{
				background-position: 37px 8px;
				padding-left: 11px;
				width: 43px;

				img{
					height: 18px;
				}
			}
			.header__login--desktop{
				background-image: url("../img/svg/desktop__forward.svg");
				background-position: 70px 5px;
				background-size: 18px 18px;
				padding-left: 10px;
				width: 82px;
			}
		}

		.dmenu{
			display: block;
			height: 80px;
			margin: 37px 0px 0px 16px;

			.dmenu__item{
				float: left;
				height: 80px;
				margin-left: 68px;
				margin-right: 43px;
				width: 90px;

				.dmenu__img{
					background-image: url("../img/svg/sprite__menu-icons.svg");
					background-repeat: no-repeat;
					background-size: 86px;
					height: 79px;
					width: 85px;
				}

				.dmenu__img--guarant{
					background-position: 0px -70px;
					background-size: 77px;
					height: 79px;
					margin-left: 1px;
					margin-top: -2px;
					width: 80px;
				}

				.dmenu__img--pay{
					background-position: 0px -152px;
					background-size: 77px;
					margin-left: -3px;
				}

				.dmenu__img--online{
					background-position: 0px -243px;
					background-size: 80px;
					height: 80px;
					margin-left: -10px;
					margin-top: -3px;
				}

				.dmenu__img--base{
					background-position: 0px -317px;
					background-size: 77px;
					height: 77px;
					margin-left: -12px;
					margin-top: 2px;
				}

				.dmenu__link{
					background-image: url("../img/des/desktop_border--gray-short.png");
					background-position: bottom;
					background-repeat: no-repeat;
					color: #666;
					display: block;
					font-family: $os;
					font-size: 16px;
					font-weight: 700;
					letter-spacing: 1px;
					line-height: 19px;
					margin-left: -5px;
					padding-bottom: 9px;
					padding-top: 14px;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
				}

				.dmenu__link--guarant{
					margin-left: -13px;
					padding-top: 16px;
				}

				.dmenu__link--pay{
					margin-left: -22px;
				}

				.dmenu__link--online{
					margin-left: -30px;
					padding-top: 16px;
				}

				.dmenu__link--base{
					margin-left: -38px;
					padding-bottom: 11px;
					padding-top: 12px;
				}
			}
		}

		.header__menubtn  {
			display: none;
		}

		.header__menu{
			display: none;
		}

	}

	.autoexcange{
		background-image: url("../img/des/desktop__menu-block.png");
		display: block;
		height: 201px;
		margin: 36px auto 0;
		padding-top: 60px;
		width: 988px;

		.autoexcange__header{
			margin-left: 240px;
			top: -5px;
			width: 512px;
		}

		.autoexcange__block{
			background: none;
			height: 80px;
			margin-left: 50px;
			width: 920px;
		}



		.autoexcange__section{
			float: left;
			height: 70px;
			position: relative;

			.container{
				left: 144px;
				top: -10px;
			}

			.hovered{
				background-image: url("../img/des/desktop__hovered.png");
				height: 92px;
				width: 80px;
			}

			.autoexcange__numbers{

				.autoexcange__sell{
					margin-top: 10px;
					margin-left: 8px;
				}

				.autoexcange__sell--get{
					margin-top: 10px;
					margin-left: 7px;
				}	

				.autoexcange__price{
					margin-top: 15px;
					margin-left: 6px;
				}

				.autoexcange__price--get{
					margin-left: 5px;
				}
			}

			.autoexcange__service{
				height: 35px;
				padding-left: 43px;
				padding-top: 7px;
				background-position: 0 1px;

				.autoexcange__menu{
					background-image: url("../img/des/desktop__grid.png");
					background-position: 32px center;
					border-top: none;
					display: none;
					height: 185px;
					left: -166px;
					width: 495px;

					.autoexcange__item{
						filter: grayscale(100%);
						height: 50px;
						position: absolute;
						width: 150px;

						&:hover{
							filter: grayscale(0);
						}

						p{
							margin-top: 25px;
						}
					}

					.autoexcange__item--desktop{
						display: block;
					}

					.autoexcange__item--1{
						background-image: url("../img/logos/btc.png");
						background-position: 12px 18px;
						left: 23px;
						top: 39px;
					}

					.autoexcange__item--2{
						background-image: url("../img/logos/pm.png");
						background-position: 0px 14px;
						left: 37px;
						padding-left: 11px;
						top: -1px;
					}
					.autoexcange__item--3{
						background-image: url("../img/logos/paymer.png");
						background-position: 9px 11px;
						right: 10px;
						top: -1px;
					}
					.autoexcange__item--4{
						background-image: url("../img/logos/ok.png");
						background-position: 4px 19px;
						top: 85px;
						left: 25px;
					}
					.autoexcange__item--5{
						background-image: url("../img/logos/zp.png");
						background-position: 0px 12px;
						top: 85px;
						right: -3px;
						padding-left: 6px;
					}
					.autoexcange__item--6{
						background-image: url("../img/logos/pb24.png");
						background-position: 1px 20px;
						top: 39px;
						right: 0px;
					}

					.autoexcange__item--7{
						background-image: url("../img/logos/ym.png");
						background-position: 0px 14px;
						top: -1px;
						left: 186px;
						padding-left: 6px;
					}

					.autoexcange__item--8{
						background-image: url("../img/logos/qi.png");
						background-position: 22px 20px;
						top: 39px;
						left: 162px;
					}

					.autoexcange__item--9{
						background-image: url("../img/logos/ego.png");
						background-position: 15px 19px;
						top: 85px;
						left: 170px;
					}

					.autoexcange__item--10{
						background-image: url("../img/logos/w1.png");
						background-position: 22px 20px;
						top: 121px;
						left: 14px;
					}

					.autoexcange__item--11{
						background-image: url("../img/logos/mastercard_visa.png");
						background-position: 8px 23px;
						top: 121px;
						left: 174px;
					}

					.autoexcange__item--12{
						background-image: url("../img/logos/any.png");
						background-position: 5px 21px;
						top: 121px;
						right: 8px;
					}
				}
			}

			.autoexcange__service--get{
				background-image: url("../img/svg/services--pb.svg");
				padding-top: 9px;
				padding-left: 46px;
				background-position: -2px 0px;
			}

			.autoexcange__currency{
				left: 223px;
				top: 34px;
				width: 65px;
			}

			.autoexcange__currency--get{
				top: 34px;
				left: 226px;
			}
		}

		.autoexcange__dropdown img{
			height: 11px;
			padding-top: 3px;
		}

		.autoexcange__section--get{
			margin-left: 35px;
		}

		.autoexcange__section--bottom{
			margin-left: 28px;

			.autoexcange__button{
				margin-top: 33px;
				margin-left: 12px;
			}
		}


		.service{
			background-size: 19px;
			clear: both;
			float: left;
			height: 22px;
			margin-left: -19px;
			margin-top: 29px;
			padding-left: 36px;
			padding-top: 3px;

			.service__text{
				margin-right: 7px;
				float: left;
				letter-spacing: 0.3px;
			}
		}

		hr{
			float: left;
			margin-left: 57px;
			margin-top: 40px;
			width: 100px;
		}

		.support{
			background-position: right;
			background-size: 21px;
			float: right;
			letter-spacing: -0.3px;
			margin-right: 7px;
			margin-top: 32px;
			padding-right: 32px;
		}



	}

	.info{
		background-image: url("../img/des/desktop_border--gray-long-solid.png");
		background-position: 0 center;
		background-repeat: no-repeat;
		display: block;
		height: 50px;
		margin: 0px auto;
		width: 985px;

		.info__item{
			background-color: #FFF;
			background-image: url("../img/svg/sprite__info.svg");
			background-repeat: no-repeat;
			background-size: 35px;
			color: #666;
			display: block;
			float: left;
			font-family: $os;
			font-size: 18px;
			font-weight: 700;
			height: 35px;
			letter-spacing: 1px;
			line-height: 37px;
			margin-left: 63px;
			margin-top: 8px;
			padding-left: 52px;
			text-decoration: none;
			text-transform: uppercase;
		}

		.info__item--currency{
			width: 165px;
		}

		.info__item--partnership{
			background-position: 0px -41px;
			margin-left: 107px;
			padding-left: 45px;
			width: 158px;
		}

		.info__item--bonuses{
			background-position: 0px -83px;
			margin-left: 158px;
			width: 100px;
		}
	}


	.news-container{
		height: 280px;
		margin: 38px auto 0px;
		width: 982px;
	}

	.news{
		background-image: url("../img/des/desktop__news-block.png");
		float: left;
		height: 258px;
		margin-right: 28px;
		text-align: center;
		width: 475px;

		.news__header{
			margin-bottom: 21px;
			width: 418px;
		}

		.news__img{
			float: left;
			max-width: 207px;
			margin: 3px 0px 0px 35px;
		}

		.news__img--base{
			margin: 0px 0px 0px 39px;
		}

		.news__text{
			float: left;
			line-height: 20px;
			margin: -2px 0px 0px 14px;
			text-align: left;
			width: 210px;
			color: #666;
		}

		.news__btn{
			cursor: pointer;
			filter: grayscale(100%);
			font-size: 12px;
			height: 11px;
			line-height: 8px;
			margin-left: 312px;
			margin-top: 30px;
			padding-right: 30px;

			&:hover{
				filter: grayscale(0);
				transition: 0.5s;
			}
		}

		.news__btn--base{
			margin-top: 31px;
			margin-left: 338px;
		}
	}

	.news--base{
		margin-right: 0;

		.news__header--base{
			margin-bottom: 20px;
			margin-left: 15px;
			width: auto;
		}
	}

	.carousel{
		height: 200px;
		width: 480px;

		.carousel__list,
		.carousel__list--base{

			.carousel__item{
				float: left;
				margin-right: 50px;
				width: 470px;
			}
		}



		.carousel__left,
		.carousel__right{
			height: 23px;
			position: absolute;
			top: 61px;
			z-index: 10000;
		}

		.carousel__left--base,
		.carousel__right--base{
			height: 23px;
			top: 62px;
		}

		.carousel__left{
			left: -10px;
		}

		.carousel__right{
			right: -9px;
		}

		.carousel__left--base{
			left: 0px;
			margin-left: -10px;
		}

		.carousel__right--base{
			right: 0px;
			margin-right: -10px;
		}
	}


	.ways{
		background-image: url("../img/des/desktop__service-block.png");
		background-repeat: no-repeat;
		height: 399px;
		margin-left: 28px;
		margin-top: 26px;
		position: relative;

		.ways__header{
			background-color: #FFF;
			background-image: none;
			color: #666;
			font-size: 16px;
			letter-spacing: 1px;
			line-height: 7px;
			margin-left: 317px;
			width: 330px;
		}

		.ways__list{
			list-style: none;

			.ways__item{
				margin: 0;
				padding: 0;
				position: absolute;
				.ways__link{
					color: #8d8d8d;
				}
			}



			.ways__item--pm{
				top: 99px;
				left: 49px;

				.ways__link--pm{
					font-size: 36px;					

					&:hover{
						color: #d6372a;
					}
				}
			}

			.ways__item--ok{
				top: 196px;
				right: 75px;

				.ways__link--ok{
					font-size: 20px;
					text-transform: uppercase;

					&:hover{
						color: #DD571B;
					}
				}
			}

			.ways__item--p24{
				top: 132px;
				right: 193px;

				.ways__link--p24{
					font-size: 20px;

					&:hover{
						color: #0B8E36;

						span{
							color: #000;
						}
					}
				}
			}

			.ways__item--ym{
				top: 286px;
				right: 479px;

				.ways__link--ym{
					font-size: 24px;

					&:hover{
						color: #DD571B;
					}
				}
			}

			.ways__item--w1{
				display: block;
				left: 308px;
				top: 56px;

				.ways__link--w1{
					font-size: 20px;

					&:hover{
						color: #000;

						span{
							color: #D32283;
						}
					}
				}
			}

			.ways__item--ex{
				top: 258px;
				left: 198px;

				.ways__link--ex{
					font-size: 24px;

					&:hover{
						color: #45B8FF;
					}
				}
			}

			.ways__item--qi{
				top: 112px;
				right: 370px;

				.ways__link--qi{
					font-size: 32px;
					text-transform: uppercase;

					&:hover{
						color: #F68F1E;
					}
				}
			}


			.ways__item--bc{
				top: 226px;
				right: 407px;

				.ways__link--bc{
					font-size: 28px;

					&:hover{
						color: #F68F1E;
					}
				}
			}

			.ways__item--lc{
				top: 66px;
				left: 412px;

				.ways__link--lc{
					font-size: 24px;

					&:hover{
						color: #666666;
					}
				}
			}

			.ways__item--payeer{
				top: 311px;
				left: 88px;

				.ways__link--payeer{
					font-size: 32px;

					&:hover{
						color: #3498DB;
					}
				}
			}

			.ways__item--btc{
				display: block;
				top: 196px;
				left: 50px;

				.ways__link--btc{
					font-size: 20px;

					&:hover{
						color: #5963BB;
					}
				}
			}

			.ways__item--paymer{
				display: block;
				top: 165px;
				left: 374px;

				.ways__link--paymer{
					font-size: 36px;

					&:hover{
						color: #006AB4;
					}
				}
			}

			.ways__item--ad{
				display: block;
				top: 66px;
				right: 115px;

				.ways__link--ad{
					font-size: 24px;

					&:hover{
						color: #46D3A4;
					}
				}
			}

			.ways__item--wm{
				display: block;
				top: 269px;
				right: 100px;

				.ways__link--wm{
					font-size: 28px;

					&:hover{
						color: #006AB4;
					}
				}
			}


		}

		.ways__item--mob{
			display: none;
		}
	}

	.howto{
		background-image: url("../img/des/desktop__howto.png");
		height: 471px;
		margin-left: 28px;
		margin-top: 48px;
		width: 985px;

		.howto__header{
			top: -4px;
			left: 369px;			
		}

		.howto__textblock{
			margin-top: 6px;

			.howto__text{
				float: left;
				margin-left: 30px;
				width: 445px;
				color: #666;
			}

			.howto__text:last-of-type{
				display: none;
			}
		}

	}

	.social{
		height: 16px;
		margin: 0px auto 22px;
		width: 295px;

		.social__header{
			color: #666;
			display: block;
			float: left;
			font-family: $os;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1.5px; 
			margin-right: 20px;
			text-transform: uppercase;
		}

		.social__item{
			filter: grayscale(100%);
			float: left;
			height: auto;
			margin: 0px 0px 0px -1px;
			width: auto;

			img{
				height: 14px;
			}

			&:hover{
				filter: grayscale(0);
			}
		}

		.social__item--fb{
			margin-left: 20px;
			margin-right: 20px;
		}

		.social__item--goo{
			margin-left: 14px;
			margin-top: 1px;
		}
	}

	.footer{
		height: 240px;
		margin: 0px auto;
		width: 966px;
		
		.mobmenu{
			display: none;
		}

		.devmenu{
			display: block;
			margin-top: 48px;
		}

		.menu__block{
			float: left;
			margin: 0px;
			text-align: center;
			width: 182px;

			.menu__header{
				background-image: url("../img/svg/sep.svg");
				background-position: 168px 8px;
				background-repeat: no-repeat;
				background-size: 16px;
				border: 1px solid #b6ceff;
				border-left: none;
				border-right: none;
				color: #666;
				float: left;
				font-family: $os;
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 30px;
				margin-bottom: 20px;
				padding-left: 35px;
				text-align: left;
				text-transform: uppercase;
				width: 160px;
			}

			.menu__header--support{
				border-left: 1px solid #b6ceff;
			}

			.menu__header--social{
				border-right: 1px solid #b6ceff;
				height: 30px;
				padding: 0;
				width: 53px;
			}

			.menu__header--projects{
				background-position: 174px 9px;
				padding-left: 51px;
				width: 140px;
			}


			.menu__header--3{
				padding-left: 33px;
			}


			.menu__item{
				margin-left: -16px;
				padding: 0;

				&:last-of-type{
					background-image: url('../img/des/desktop_border--gray-short2.png');
					background-position: bottom;
					background-repeat: no-repeat;
					padding-bottom: 18px;
				}

				.menu__link{
					letter-spacing: 0.5px;
				}
			}

			.menu__item--projects{
				padding-left: 8px;
			}
		}

		.menu__block--social{
			width: 53px;
		}

		.menu__block--clients{
			padding-left: 10px;

			.menu__header{
				background-position: 169px 8px;
				padding-left: 42px;
			}
		}

		.menu__block--conditions{
			margin-left: 3px;
			width: 187px;

			.menu__header{
				background-position: 171px 8px;
				padding-left: 49px;
				width: 138px;
			}
		}

		.menu__block--contacts{
			width: 150px;

			.menu__header{
				background-image: none;
				padding-left: 43px;
				width: 107px;
			}

			.menu__link{
				color: #666;
				font-family: $os;
				font-size: 12px;
				letter-spacing: 0.5px;
				margin-left: 18px;
				margin-top: 16px;
				text-decoration: none;
			}
		}

		.menu__block--social{
			
			.menu__header{
				width: 67px;
				background-position: 21px 9px;
			}

			.menu__item{
				background-image: url("../img/svg/sp");
				margin-left: 5px;
				margin-top: 21px;
				opacity: 0.6;
				
				&:last-of-type{
					background-image: none;
				}

				&:hover{
					opacity: 1;
				}

				img{
					height: 16px;
				}
			}

		}
	}
}