@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league-gothic.regular-webfont.eot');
    src: url('../fonts/league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.regular-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic.regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
  background: gray;
  margin: 0 auto;
}

header{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}

.wrapper{
  margin: 0 auto;
  width: 960px;
}


.logo{
  float: left;
}

/*/////////////////////////////////// HEADER MENU //////////////////////////////////////////*/

.menu{
  margin: 23px 1px 178px 0;
  float: right;
}

.menu__item{
  text-align: center;
  float: right;
  margin: 0 0 0 52px;
  height: 26px;
}

.menu__item:hover{
  border-bottom: 2px solid #edbfff;
  box-sizing: border-box;
}

.home{
  margin-right: -6px;
  width: 46px;
}

.menu__link{
  display: block;
  font-family: "league_gothicregular", tahoma;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

/*///////////////////////////////////////// SLIDER ///////////////////////////////////////////*/

.sliders{
  clear: both;
  height: 400px;
  background: rgba(0,0,0, 0.3);
}

.sliders__wrapper{
  margin: 0 auto;
  width: 960px;
  height: 400px;
}

.sliders__text{
  float: left;
  height: 400px;
  width: 515px;
  margin: 0 0 0 0;
}

.sliders__t1{
  display: block;
  padding-top: 79px;
  padding-left: 1px;
  font-family: 'league_gothicregular';
  font-size: 59px;
  color: #fefefe;
  text-transform: capitalize;
  letter-spacing: -0.3px;
}

.sliders__t2{
  letter-spacing: -0.02px;
  display: block;
  font-family: 'league_gothicregular';
  font-size: 32px;
  color: #edbfff;
  text-transform: uppercase;
}

.sliders__t3{
  display: block;
  margin-top: 5px;
  font-family: 'open_sanslight';
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.sliders__picture{
  margin: -17px 0 0 101px;
}

.sliders__selectors{
  margin: 73px 166px 0 0;
}

.sliders__circle{
  margin: 0 0 0 5px;
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: rgba(0,0,0, 0.5);
}

.sliders__circle:hover{
  background: white;
  border: #383840 3px solid;
  box-sizing: border-box;
}