/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
};@font-face {
  font-family: 'ostrich-heavy';
  src: url('../../fonts/ostrichsans-heavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
;
// ==== VARIABLES ====

$whiteText: #fff;
$redBtn: #ff4e50;
$rob-l: 'Roboto-Light', sans-serif;
$mon-b: 'Montserrat', sans-serif;
$mon-r: 'Montserrat-Regular', sans-serif;;
 // =========== MOBILE 320PX ===========

@media only screen and (min-width: 240px) and (max-width: 489px) {

  body{
    font-family: 'Open sans', sans-serif;
  }
  
  .container{
    width: 320px;
    margin: 0 auto;
  }

  header{
    height: 55px;
    background-color: #F9FEFE;

    .header__leftblock{
      display: none;
    }

    .header__rightblock{
      line-height: 50px;
      width: auto;

      .header__lang{
        margin-right: 18px;
        padding-left: 2px;
        float: left;
        font-size: 14px;
        color: black;
        text-decoration: none;
      }


      .header__login{
        float: left;

        .header__icon{
          margin-top: 15px;
          margin-right: 5px;
          float: left;
          width: 16px;
          height: 20px;
          background-image: url("../../img/sprites/iconset.png");
          background-repeat: no-repeat;
          background-position: -26px 0;
        }
        
        .header__link{
          font-size: 14px;
          text-decoration: none;
          color: black;
        }
      }

      .header__order{
        float: right;
        width: 109px;
        height: 55px;
        background-color: #AA002A;
        text-align: center;
        font-size: 13px;
        color: white;
        text-decoration: none;
      }      
    }
  }



.menu{
  display: none;
}

.device-menu{
  position: relative;
  width: 100%;
  height: 95px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
z-index: 1000;

  .menu__button{
    text-align: center;
    margin-top: 37px;
    width: 105px;
    height: 58px;
    float: right;
  }

  .device-menu__menu{
    width: 282px;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    top: 95px;
    right: 0;
    box-shadow: -3px 0 10px #ababab inset;

    .device-menu__item{
      background-image: url("../../img/menu_icon.png");
      background-position: right center;
      background-repeat: no-repeat;
      position: relative;
      line-height: 35px;
      padding-right: 30px;
      border-bottom: 1px solid #e5e5e5;
      background-color: #FFF;
      width: 252px;
      height: 35px;
      float: right;
      text-align: right;

      .menu__link{
        color: #494949;
        text-decoration: none;
        font-size: 16px;
      }

      .submenu{
        background-color: #FFF;
        position: absolute;
        left: 0;
        top: 35px;
        display: none;

        .submenu__item{
          line-height: 35px;
          padding-right: 30px;
          background-color: #FFF;
          width: 252px;
          height: 35px;
          float: right;
          text-align: right;

          .submenu__link{
            font-size: 14px;
            text-decoration: none;
            color: #494949;
          }
        }

        .submenu__item:hover{
          background-color: #a90027;

          .submenu__link{
            color: #fff;
          }
        }
      }

    }

    .device-menu__item:nth-child(1),
    .device-menu__item:nth-child(3),
    .device-menu__item:nth-child(6){
      background-image: none;
    }
    
    .device-menu__item:hover{
      background-color: #a90027;
      .menu__link{
        color: #fff;
      }
    }
  }

  .menu__logo{
    position: absolute;
    float: left;
    width: 135px;
    margin-left: 91px;
    z-index: 2000;
    
    img{
      margin-top: -20px;
      max-width: 100%;
    }
  }


}
  

.promo{
  text-align: center;
  width: 100%;
  height: 187px;
  background-color: #FFF;

  .promo__image{
    max-width: 100%;
  }
}


.info{
  width: 100%;
  height: 302px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);

  .info__menu{
    margin: 0 auto;
    width: 80%;


    .info__item{
      margin: 20px 0px 34px 0px;
      width: 270px;
      height: 36px;
      background-image: url("../../img/sprites/info_sprite.png");
      background-repeat: no-repeat;
      
      .info__link{
        text-decoration: none;
        font-size: 17px;
        color: #575757;
        display: block;
        width: 265px;
        height: inherit;
        line-height: 40px;
      }

    }
      
      .info__item--abant{
        margin: 17px -4px 37px;
        padding-left: 118px;
        padding-top: 2px;
        background-position: 0px 0px;
      }

      .info__item--abant:hover{
        background-position: 0 -44px;
      }


      .info__item--dealers{
        height: 38px;
        margin: 16px -4px 10px;
        padding-left: 124px;
        padding-top: 2px;
        background-position: 0px -90px;
      }

      .info__item--dealers:hover{
        background-position: 0 -136px;
      }


      .info__item--rep{
        height: 42px;
        margin: 34px -9px 32px;
        padding-left: 104px;
        padding-top: 3px;
        background-position: 0px -183px;
      }

      .info__item--rep:hover{
        background-position: 0 -237px;
      }


      .info__item--contacts{
        font-size: 17px;
        color: #575757;
        margin-left: -7px;
        padding-left: 73px;
        padding-top: 13px;
        background-position: 0px -288px;

        span:last-child{
          font-weight: bold;
          padding-left: 10px;
        }
      }
  }

}



.water{

  margin-bottom: 44px;
  height: 2008px;

  .water__bottle{
    margin: 15px 0px 30px 103px;
    max-width: 45%;
  }

  .water__header{
    text-align: center;
    font-size: 45px;
    color: #98B8C3;
    font-family: 'ostrich-heavy';
    text-transform: uppercase;
  }

  .water__textblock{
    padding: 18px 10px 6px 10px;
    font-size: 16px;
    text-align: center;
    color: #575757;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  .water__bottle--glass{
    max-width: 72%;
    margin: -6px 0px 5px 46px;
  }

  .water__button{
    display: block;
    height: 43px;
    width: 85px;
    text-align: center;
    margin: 19px auto;
    border: 1px solid #A74548;
    border-radius: 25px;
    color: #982529;
    text-decoration: none;
    line-height: 44px;
  }

  .water__button:hover{
    transition: 0.4s;
    background-color: #982529;
    color: white;
  }

  .water__bottle--set{
    margin: 18px 0px 8px 0px;
    max-width: 100%;
  }

  .water__bottle--desktop{
    display: none;
  }

  .water__header--bottom{
    font-size: 55px;
  }

  .water__textblock--bottom{
    padding-top: 8px;
  }

  .water__button--bottom{
    margin: 5px auto;
    width: 153px;
  }
}





footer{
  text-align: center;

  .footer__block{
    margin-bottom: 20px;
    height: 137px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);

    .social{
      display: block;
      width: 160px;
      margin: 0px auto;

      .social__link{
        float: left;
        margin: 31px 0px 0px 6px;
        width: 34px;
        height: 34px;
        background-image: url("../../img/sprites/social.png")
      }

      .social__link--fb:hover{
        background-position: 0px -34px;
      }

      .social__link--tw{
        margin: 31px -1px 0px 4px;
        background-position: -38px 0px;
      }
      .social__link--tw:hover{
        background-position: -38px -34px;
      }

      .social__link--ins{
        margin: 31px 0px 0px 5px;
        background-position: -76px 0px;
      }
      .social__link--ins:hover{
        background-position: -76px -34px;
      }

      .social__link--yt{
        margin: 31px 0px 0px 4px;
        background-position: -114px 0px;
      }
      .social__link--yt:hover{
        background-position: -114px -34px;
      }

    }

    .social:after{
      content: "";
      display: table;
      clear: both;
    }


    .footer__ima{
      margin: 11px -1px 0px 0px;
    }
  }


  .footer__copy{
    margin-top: 16px;
    margin-bottom: 37px;
    letter-spacing: -0.5px;
    font-size: 14px;
  }

  .footer__clockwork{
    
  }

}


.footer-desktop{
  display: none;
}


.footer__bottom{
  display: none;
}






};
 // =========== MOBILE / TABLET ===========
@media only screen and (min-width: 490px) and (max-width: 1279px) {


	  body{
    font-family: 'Open sans', sans-serif;
  }
  
  .container{
    width: 100%;
    margin: 0 auto;
  }

  header{
    height: 55px;
    background-color: #F9FEFE;

    .header__leftblock{
      display: none;
    }

    .header__rightblock{
      line-height: 50px;
      width: auto;

      .header__lang{
        margin-right: 39px;
        padding-left: 10px;
        float: left;
        font-size: 14px;
        color: #494949;
        text-decoration: none;
      }


      .header__login{
        float: left;

        .header__icon{
          margin-top: 15px;
          margin-right: 9px;
          float: left;
          width: 16px;
          height: 20px;
          background-image: url("../../img/sprites/iconset.png");
          background-repeat: no-repeat;
          background-position: -26px 0;
        }
        
        .header__link{
          font-size: 14px;
          text-decoration: none;
          color: black;
        }
      }

      .header__order{
      	position: absolute;
      	z-index: 5000;
      	right: 0;
        float: right;
        width: 109px;
        height: 55px;
        background-color: #AA002A;
        text-align: center;
        font-size: 13px;
        color: white;
        text-decoration: none;
      }      
    }
  }



.menu{
  display: none;
}

.device-menu{
  position: relative;
  width: 100%;
  height: 95px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
z-index: 1000;

  .menu__button{
  	position: absolute;
    text-align: center;
    margin-top: 37px;
    top: 0;
    right: 40px;
  }

  .device-menu__menu{
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    top: 58px;
    right: -40px;
    box-shadow: -3px 0 10px #ababab inset;

    .device-menu__item{
      background-image: url("../../img/menu_icon.png");
      background-position: right center;
      background-repeat: no-repeat;
      position: relative;
      line-height: 35px;
      padding-right: 30px;
      border-bottom: 1px solid #e5e5e5;
      background-color: #FFF;
      width: 252px;
      height: 35px;
      float: right;
      text-align: right;

      .menu__link{
        color: #494949;
        text-decoration: none;
        font-size: 16px;
      }

      .submenu{
        background-color: #FFF;
        position: absolute;
        left: 0;
        top: 35px;
        display: none;

        .submenu__item{
          line-height: 35px;
          padding-right: 30px;
          background-color: #FFF;
          width: 252px;
          height: 35px;
          float: right;
          text-align: right;

          .submenu__link{
            font-size: 14px;
            text-decoration: none;
            color: #494949;
          }
        }

        .submenu__item:hover{
          background-color: #a90027;

          .submenu__link{
            color: #fff;
          }
        }
      }

    }

    .device-menu__item:nth-child(1),
    .device-menu__item:nth-child(3),
    .device-menu__item:nth-child(6){
      background-image: none;
    }
    
    .device-menu__item:hover{
      background-color: #a90027;
      .menu__link{
        color: #fff;
      }
    }
  }

  .menu__logo{
  	position: absolute;
  	left: 0;
  	right: 0;
    width: 135px;
		margin: 0px auto;
    z-index: 2000;
    
    img{
      margin-top: -20px;
      margin-left: -2px;
      max-width: 100%;
    }
  }


}
  

.promo{
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #FFF;

  .promo__image{
    max-width: 100%;
  }
}


.info{
  width: 100%;
  height: 158px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);

  .info__menu{
    margin: 0 auto;
    width: 80%;


    .info__item{
    	display: block;
      width: 120px;
      height: 42px;
      background-image: url("../../img/sprites/info_sprite.png");
      background-repeat: no-repeat;
      
      .info__link{
        text-decoration: none;
        font-size: 17px;
        color: #575757;
        display: block;
        width: 265px;
        height: inherit;
        line-height: 40px;
      }

    }
      
    .info__item--abant{
    	float: left;
      margin: 24px 0 0 30px;
      padding-left: 45px;
      padding-top: 2px;
      background-position: 0px 0px;
    }

    .info__item--abant:hover{
      background-position: 0 -44px;
    }


    .info__item--dealers{
    	float: right;
      margin: 24px -23px 0 0px;
      padding-left: 45px;
      padding-top: 2px;
      background-position: 0px -90px;
    }

    .info__item--dealers:hover{
      background-position: 0 -136px;
    }
				
		.clearfix:after{
	    content: "";
	    display: table;
	    clear: both;
	  }

    .info__item--rep{
    	float: left;
      margin: 30px 0px 0px -5px;
      padding-left: 60px;
      padding-top: 3px;
      background-position: 0px -183px;
    }

    .info__item--rep:hover{
      background-position: 0 -237px;
    }


    .info__item--contacts{
    	width: 180px;
    	float: right;
      font-size: 17px;
      color: #575757;
      margin: 32px -30px 0 0;
      padding-left: 74px;
      padding-top: 13px;
      background-position: 0px -288px;

      span:last-child{
        font-weight: bold;
        padding-left: 10px;
      }
    }
  }
}



.water{
	text-align: center;
  margin-bottom: 43px;
  height: 2175px;

  .water__bottle{
    margin: 13px 0px 47px 35px;
    max-width: 72%;
  }

  .water__header{
    text-align: center;
    font-size: 45px;
    color: #98B8C3;
    font-family: 'ostrich-heavy';
    text-transform: uppercase;
  }

  .water__textblock{
    padding: 18px 20px 6px 20px;
    font-size: 16px;
    text-align: center;
    color: #575757;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  .water__bottle--glass{
    margin: -6px 0px 5px 2px;
    max-width: 72%;
  }

  .water__button{
    display: block;
    height: 43px;
    width: 85px;
    text-align: center;
    margin: 19px auto;
    border: 1px solid #A74548;
    border-radius: 25px;
    color: #982529;
    text-decoration: none;
    line-height: 44px;
  }

  .water__button:hover{
    transition: 0.7s;
    background-color: #982529;
    color: white;
  }

  .water__bottle--set{
    margin: 18px 0px 8px 0px;
    max-width: 100%;
  }

  .water__bottle--desktop{
    display: none;
  }

  .water__header--bottom{
    font-size: 55px;
  }

  .water__textblock--bottom{
    padding: 8px 10px 0px 10px;
  }

  .water__button--bottom{
    margin: 11px auto;
    width: 153px;
  }
}





footer{
  text-align: center;
  height: 270px;

  .footer__block{
  	text-align: center;
    margin-bottom: 15px;
    height: 137px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);

    .social{
      display: block;
      width: 162px;
      margin: 0px auto;

      .social__link{
        float: left;
        margin: 31px 0px 0px 6px;
        width: 34px;
        height: 34px;
        background-image: url("../../img/sprites/social.png");

        a{
        	display: block;
        	height: inherit;
        	width: inherit;
        }
      }

      .social__link--fb:hover{
        background-position: 0px -34px;
      }

      .social__link--tw{
        margin: 31px -1px 0px 4px;
        background-position: -38px 0px;
      }
      .social__link--tw:hover{
        background-position: -38px -34px;
      }

      .social__link--ins{
        margin: 31px 0px 0px 5px;
        background-position: -76px 0px;
      }
      .social__link--ins:hover{
        background-position: -76px -34px;
      }

      .social__link--yt{
        margin: 31px 0px 0px 4px;
        background-position: -114px 0px;
      }
      .social__link--yt:hover{
        background-position: -114px -34px;
      }

    }

    .social:after{
      content: "";
      display: table;
      clear: both;
    }


    .footer__ima{
      margin: 11px 0px 0px 0px;
    }
  }


  .footer__subs{

  }


  .footer__copy{
  	height: 24px;
  	margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
    font-size: 13px;
  }

  .footer__clockwork{
    
  }
}

.footer-desktop{
  display: none;
}

.footer__bottom{
  display: none;
}


}
;
 // =========== DESKTOP ===========
@media only screen and (min-width: 1280px) {


  body{
    font-family: 'Open sans', sans-serif;
  }
  
  .container{
    margin: 0 auto;
    width: 100%;
  }

  header{
    background-color: #F9FEFE;
    height: 55px;
    margin: 0px auto;
    width: 1263px;

    .header__leftblock{
      float: left;

      .header__player{
        background-color: red;
        float: left;
        height: 10px;
        margin: 23px 60px 0px 120px;
        width: 155px;
      }

      .header__phone{
        float: left;
        width: 200px;
        margin-left: 45%;
        margin-top: 18px;

        .header__icon--phone{
          background-image: url("../../img/sprites/iconset.png");
          background-position: 0px 0;
          background-repeat: no-repeat;
          float: left;
          height: 20px;
          margin-right: 5px;
          width: 21px;
        }

        .header__line{
          font-size: 14px;
        }

        .header__phone-number{
          font-weight: bold;
          margin-left: 3px;
        }
      }
    }

    .header__rightblock{
      float: right;
      line-height: 50px;
      width: auto;

      .header__lang{
        color: #494949;
        float: left;
        font-size: 14px;
        margin-right: 29px;
        padding-left: 10px;
        padding-top: 1px;
        text-decoration: none;
      }


      .header__login{
        float: left;
        margin-right: 20px;

        .header__icon{
          background-image: url("../../img/sprites/iconset.png");
          background-position: -26px 0;
          background-repeat: no-repeat;
          float: left;
          height: 20px;
          margin-right: 9px;
          margin-top: 15px;
          width: 16px;
        }
        
        .header__link{
          color: black;
          font-size: 14px;
          text-decoration: none;
        }
      }

      .header__order{
        background-color: #AA002A;
        color: white;
        float: left;
        font-size: 13px;
        height: 54px;
        margin-right: 102px;
        padding-top: 1px;
        text-align: center;
        text-decoration: none;
        width: 109px;
        z-index: 5000;
      }      
    }
  }


  .device-menu{
    display: none;
  }

  .menu{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    z-index: 1000;

    .menu-wrapper{
      width: 1024px;
      margin: 0 auto;
    }

    .menu__item{
      position: relative;
      float: left;
      height: 58px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 42px 16px 0px 16px;

      .submenu{
        background-color: #FFF;
        position: absolute;
        right: -130%;
        top: 58px;
        display: none;
        -webkit-box-shadow: 0px 7px 20px 5px rgba(92,92,92,0.69);
        -moz-box-shadow: 0px 7px 20px 5px rgba(92,92,92,0.69);
        box-shadow: 0px 7px 20px 5px rgba(92,92,92,0.69);
          
        .submenu__item{
          line-height: 35px;
          padding-right: 30px;
          background-color: #FFF;
          width: 252px;
          height: 35px;
          float: right;
          text-align: right;

          .submenu__link{
            padding-left: 15px;
            font-size: 14px;
            text-decoration: none;
            color: #494949;
          }
        }
          
        .submenu__item:hover{
          background-color: #a90027;
          .submenu__link{
            color: #fff;
          }
        }
      }

      .submenu--left{
        .submenu__item{
          text-align: left;
        }
      }

      .menu__link{
        color: #494949;
        text-decoration: none;
        font-size: 16px;
      }
    }

    .menu__item:first-child{
      margin-left: 0;
      padding-left: 0;
    }

    .menu__item:last-child{
      margin-right: 5px;
    }
    
    .menu__item--logo{
      width: 175px;
      margin: 0px auto;
      z-index: 2000;
      
      img{
        margin-top: -37px;
        max-width: 100%;
      }
    }


    .menu__item:hover{
      .menu__link{
        color: #AA002A;
        transition: 0.4s;
      }
    }    
  }



  .promo{
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #FFF;

    .promo__image{
      max-width: 100%;
    }
  }


  .info{
    width: 100%;
    height: 120px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);

    .info__menu{
      margin: 0 auto;
      width: 1024px;


      .info__item{
        display: block;
        // width: 120px;
        height: 42px;
        background-image: url("../../img/sprites/info_sprite.png");
        background-repeat: no-repeat;
        
        .info__link{
          text-decoration: none;
          font-size: 21px;
          color: #575757;
          display: block;
          // width: 265px;
          height: inherit;
          line-height: 40px;
        }

      }

      .info__item:hover{
        .info__link{
          color: #982529;
        }
      }
        
      .info__item--abant{
        width: 165px;
        float: left;
        margin: 37px 0px 0 40px;
        padding-left: 45px;
        padding-top: 2px;
        background-position: 0px 0px;
      }

      .info__item--abant:hover{
        background-position: 0 -44px;
      }


      .info__item--dealers{
        float: left;
        margin: 37px 40px 0 0px;
        padding-left: 45px;
        padding-top: 2px;
        background-position: 0px -90px;
      }

      .info__item--dealers:hover{
        background-position: 0 -136px;
      }
          
      .clearfix:after{
        display: none;
      }

      .info__item--rep{
        float: left;
        margin: 36px 20px 0px 45px;
        padding-left: 60px;
        padding-top: 3px;
        background-position: 0px -183px;
      }

      .info__item--rep:hover{
        background-position: 0 -237px;
      }


      .info__item--contacts{
        width: 200px;
        float: left;
        font-size: 22px;
        color: #575757;
        margin: 38px 0px 0 30px;
        padding-left: 60px;
        padding-top: 9px;
        background-position: 0px -288px;

        span:last-child{
          font-size: 17px;
          font-weight: bold;
          padding-left: 7px;
        }
      }
    }
  }



.water{
  height: 1297px;

  .water-wrapper{
    width: 1263px;
    margin: 0px auto;
  }

  .water__left{
    float: left;
    width: 64%;

    .water__bottle{
      float: left;
      margin: 20px 0px 0px 30px;
    }

    .water__header{
      float: right;
      margin: 51px 193px 0px 0px;
      font-size: 45px;
      color: #98B8C3;
      font-family: 'ostrich-heavy';
      text-transform: uppercase;
    }

    .water__textblock{
      margin: -9px 0px 0px 15px;
      float: left;
      padding: 26px 0px 8px 0px;
      width: 45%;
      font-size: 16px;
      color: #5f5f5f;
      line-height: 27px;
      letter-spacing: -0.3px;
      font-weight: 300;
    }    
  }




  .water__right{
    text-align: center;
    float: right;
    width: 36%;

    .water__textblock{
      width: 425px;
      padding: 18px 0px 0px 0px;
      font-size: 16px;
      color: #5f5f5f;
      line-height: 27px;
      letter-spacing: -0.3px;
      margin: 0px 59px 0px 0px;
      font-weight: 300;
    }

    .water__bottle--glass{
      margin: 61px 0px 13px -43px;
      max-width: 91%;
    }

    .water__button{
      display: block;
      height: 43px;
      width: 85px;
      text-align: center;
      margin: 20px auto;
      border: 1px solid #A74548;
      border-radius: 25px;
      color: #982529;
      text-decoration: none;
      line-height: 44px;
    }

    .water__button:hover{
      transition: 0.7s;
      background-color: #982529;
      color: white;
    }
    
  }


  .water__bottle--set{
    display: none;
  }

  .water__bottom{
    clear: both;
    height: 643px;
    background-repeat: no-repeat;
    background-image: url("../../img/desk_bg.jpg");

    .water__bottom-wrapper{
      width: 1263px;
      margin: 0px auto;
      position: relative;
    }

    .water__info{
      background-color: #fff;
      width: 330px;
      height: 410px;
      border-radius: 100%;
      float: left;
      box-shadow: 0 0 7px #dedede;
      padding: 100px 120px 10px 70px;
      margin: 35px 0px 0px 40px;

      .water__header--bottom{
        float: right;
        margin: -15px 0px 0px 0px;
        font-size: 45px;
        color: #98B8C3;
        font-family: 'ostrich-heavy';
        text-transform: uppercase;
        font-size: 55px;
      }

      .water__textblock--bottom{
        text-align: right;
        font-size: 14px;
        color: #5f5f5f;
        line-height: 25px;
        letter-spacing: -0.3px;
        margin: 46px 0px 0px 0px;
        font-weight: 300;
      }

      .water__button--bottom{
        display: block;
        height: 41px;
        text-align: center;
        border: 1px solid #A74548;
        border-radius: 25px;
        color: #982529;
        text-decoration: none;
        line-height: 40px;
        margin: 26px 0 0 177px;
        width: 151px;
      }

      .water__button--bottom:hover{
        transition: 0.7s;
        background-color: #982529;
        color: white;
      }
    }

    .water__bottle--desktop{
      float: right;
      margin-top: 31px;
      position: absolute;
      right: 0;
    }

    
  }

}



.footer-device{
  display: none;
}

.footer-desktop{
  position: relative;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  height: 255px;
  box-shadow: 0 0 7px #dedede;

  .footer-wrapper{
    width: 1263px;
    margin: 0px auto;
  }

  .footer-desktop__leftblock{
    float: left;

    .footer-desktop__logo{
      margin: 20px 0px 0px 35px;
      max-width: 80%
    }

    .social{
      display: block;
      width: 162px;
      margin: -15px 0 0 35px;

      .social__link{
        float: left;
        margin: 31px 0px 0px 6px;
        width: 34px;
        height: 34px;
        background-image: url("../../img/sprites/social.png");

        a{
          display: block;
          height: inherit;
          width: inherit;
        }
      }

      .social__link--fb:hover{
        background-position: 0px -34px;
      }

      .social__link--tw{
        margin: 31px -1px 0px 4px;
        background-position: -38px 0px;
      }

      .social__link--tw:hover{
        background-position: -38px -34px;
      }

      .social__link--ins{
        margin: 31px 0px 0px 5px;
        background-position: -76px 0px;
      }

      .social__link--ins:hover{
        background-position: -76px -34px;
      }

      .social__link--yt{
        margin: 31px 0px 0px 4px;
        background-position: -114px 0px;
      }

      .social__link--yt:hover{
        background-position: -114px -34px;
      }
    }    
  }
  
  .desktop-menu{
    float: left;
    width: 850px;
    margin-top: 30px;
    margin-left: 50px;

    .desktop-menu__item{
      float: left;
      

      .desktop-menu__link{
        font-size: 14px;
        font-weight: 600;
        color: #8f0000;
        text-decoration: none;        
      }


      .submenu__item{
        margin-top: 9px;
        margin-bottom: 10px;
        
        .submenu__link{
          font-size: 13px;
          text-decoration: none;
          color: #494949;
          font-weight: 600;
        }

        .submenu__link:hover{
          text-decoration: underline;
          color: #8f0000;
        }
      }
    }

    .desktop-menu__item:not(:first-child){
      margin: 0px 20px 0px 50px;
    }
  }

  .clearfix:after{
     content: "";
     display: table;
     clear: both;
  }


  .footer__ima{
    margin: 188px 0px 0px 61px;
  }  
}

.footer__bottom{
  width: 1263px;
  margin: 0px auto;

  .footer__subs{
    display: block;
    float: left;
    margin: 20px 0px 0px 41px;
  }


  .footer__copy{
    font-size: 13px;
    float: left;
    margin: 24px 0px 0px 15px;  
  }

  .footer__clockwork{
    display: block;
    float: right;
    margin: 24px 40px 0px 0px;
  }
}



}
