body{
	background-color: #282828;
	font-family: tahoma;
}

.wrapper{
	margin: 0 auto;
	width: 1000px;
	height: 1310px;
	background-color: white;
}

header{
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
}

.blue-circle{
	background: linear-gradient(180deg, rgb(12, 51, 87) 14%, rgb(30, 101, 132) 85%);
	width: 22px;
	height: 22px;
	border-radius: 100%;
	text-align: center;
	float: left;
	margin-top: 8px;
	margin-left: 3px;
}

.tel{
	margin-top: 9px;
	margin-left: -3px;
	letter-spacing: 0.35px;
	float: left;
	line-height: 19px;
	color: #5e696d;
	font-size: 18px;
}

.login-form{
	margin-top: 4px;
	margin-left: 16px;
	padding-top: 3px;
	padding-left: 15px;
	float: left;
	width: 480px;
	height: 24px;
	background: linear-gradient(180deg, rgb(30, 101, 132) 14%, rgb(12, 51, 87) 85%);
	border-radius: 3px;
}

.log{
	float: left;
	margin-top: 0px;
	margin-left: 4px;
	border-radius: 3px;
	border: #82949c 1px solid;
	width: 112px;
	height: 13px;
}

.pass{
	float: left;
	margin-left: 7px;
	border-radius: 3px;
	border: #82949c 1px solid;
	width: 112px;
	height: 13px;
}

.auth-pic{
	float: left;
	margin-left: -8px;
	margin-top: 2px;
}

.si-block{
	display: block;
	float: left;
}

.acc-button{
	margin: -5px -4px 0 8px;
	letter-spacing: -0.4px;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 26px;
	color: white;
}


.acc-button a{
	text-decoration: none;
	color: white;
}

.fp{
	margin: -5px 0 0 26px;
	letter-spacing: 0.3px;
}

.fp a{
	text-decoration: underline;
	color: #9ea4ab;
}


.nav-block{
	float: left;
	margin-top: 5px;
	margin-left: 16px;
	width: 76px;
	height: 20px;
	border: 1px #c1c8cb solid;
	border-radius: 15px;
}

.nb{
	margin: -1px 1px 0px 8px;
	float: left;
}

.banner{
	display: block;
	margin: 0 auto;
}

.top-menu{
	margin: 6px auto;
	padding-left: 127px;
	width: 785px;
	height: 33px;
	border-top: 1px #2c345a solid;
	border-radius: 5px;
	background: linear-gradient(180deg, rgb(77, 86, 99) 10%, rgb(2, 2, 2) 94%);
}

.top-menu-button{
	margin-top: 2px;
	margin-left: 20px;
	margin-right: 4px;
	float: left;
	text-transform: uppercase;
}

.dost{
	margin-left: 25px;
}

.stat{
	margin-left: 25px;
}

.cont{
	margin-left: 21px;	
	letter-spacing: -0.2px;
}

.top-menu-button a {
	display: block;
	font-size: 15px;
	line-height: 29px;
	color: #b1bcc0;
	text-decoration: none;
}

.top-menu-button:hover{
	background: linear-gradient(180deg, rgb(31, 103, 135) 20%, rgb(12, 51, 87) 80%);
	border-radius: 20px;
	height: 28px;
}

.top-menu-button:hover a{
	color: white;
}

.cart-section{
	margin-left: 69px;
	float: left;
}

.cart{
	margin-left: -4px;
	margin-top: -1px;
	float: left;
	line-height: 38px;
}

.good{
	letter-spacing: 0.2px;
	margin-left: 9px;
	font-size: 11px;
	color: #b1bcc0;
	float: left;
	line-height: 30px;
}

.sum{
	margin-left: 14px;
	font-size: 11px;
	color: #b1bcc0;
	float: left;
	line-height: 30px;
	letter-spacing: 0.7px;
}

.good-q{
	margin-left: -4px;
	font-size: 14px;
	float: left;
	line-height: 30px;
	color: #0d5a8f;
	font-weight: bold;

}

.sum-sum{
	margin-left: 8px;
	font-size: 12px;
	display: block;
	float: left;
	color: #0d5a8f;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: -0.5px;
}

/*///////////////// START OF SORTING ///////////////////// */

.sorting{
	margin-top: 11px;
	margin-left: 48px;
	height: 140px;
}

.auto,
.tyres,
.disks{
	margin-right: 14px;
	background-color: white;
	float: left;
	border: 1px #b6b6b7 solid;
	border-radius: 18px;
}

.auto {
	margin-top: 1px;
	margin-left: 2px;
	width: 413px;
	height: 132px;
}

.auto-header{
	width: 395px;
	height: 20px;
}

.auto p,
.tyres p,
.disks p{
	color: #154467;
	font-weight: bold;
}

.h-disks{
	margin-left: 22px;
	padding-top: 4px;
	display: block;
	float: left;
	font-size: 11px;

}

.h-search{
	letter-spacing: -0.3px;
	margin-left: 66px;
	margin-right: 28px;
	display: block;
	float: left;
	font-size: 14px;
}

.h-tyre{
	margin-left: 43px;
	margin-top: 3px;
	display: block;
	float: left;
	font-size: 11px;
}

.tyres{
	width: 191px;
	height: 134px;
}

.disks{
	width: 266px;
	height: 133px;
	margin-left: -4px;
}

.disk-tyre-selection{
	float: left;
	margin-left: 10px;
	width: 190px;
}

.search-button-block2{
	margin-right: 19px;
	margin-top: 1px;
	float: right;
	width: 50px;
	border-bottom: 2px solid #a6b1bc;
	clear: both;
}

.search-button-block1{
	margin-right: 8px;
	margin-top: 3px;
	float: right;
	width: 50px;
	border-bottom: 2px solid #a6b1bc;
	clear: both;
}

.search-button{
	text-decoration: none;
	font-size: 14px;
	color: #154467;
	font-style: italic;
	letter-spacing: 0.5px;
}
.select1{
	width: 102px;
	margin-left: 6px;
	margin-top: -6px;
}

.select2{
	width: 58px;
	margin-left: 6px;
	margin-top: 0px;
}

.form-text{
	color: black;
	font-size: 10px;
	line-height: 10px;
	vertical-align: text-top;
}

.form-text-dimensions{
	width: 78px;
	float: left;
	clear: both;
	line-height: 0px;
}

.form-margin{
	margin-top: 3px;
}

.tyre-header{
	letter-spacing: -0.2px;
	margin-left: 8px;
	margin-top: 2px;
	display: block;
	font-size: 14px;
	width: 100px;
	height: 20px;
}

.select3{
	width: 50px;
}

.tyre-size-text{
	margin-left: 10px;
	color: black;
	font-size: 10px;
	line-height: 10px;
	vertical-align: middle;
	text-align: right;
}

.r-text{
	margin-left: 41px;
	margin-top: 3px;
	color: black;
	font-size: 10px;
	line-height: 10px;
	vertical-align: middle;
	text-align: right;
}

.tyre-form-margin{
	margin-top: 5px;
}

.select4{
	width: 45px;
	margin-top: 3px;
}

.season-text{
	display: block;
	float: left;
	margin-left: 13px;
	margin-top: 3px;
	color: black;
	font-size: 10px;
	line-height: 10px;
}

.season{
	margin-top: 3px;
	margin-left: 4px;
	float: left;
	font-size: 11px;
}

.season label{
	vertical-align: text-bottom;
}

.season input{
	margin-top: -2px;
	height: 12px;
}

.disk-search{
	width: 175px;
	float: left;
}

.select5{
	margin-bottom: 5px;
	width: 56px;
}

.select6{
	margin-bottom: 8px;
	width: 50px;
}

.form3-margin{
	margin-top: -1px;
	margin-bottom: 3px;
}

.form3-1-text-dimensions{
	margin-top: 1px;
	margin-left: 10px;
	margin-bottom: 2px;
	width: 89px;
	float: left;
	line-height: 0px;
}

.form3-2-text-dimensions{
	margin-top: -10px;
	margin-left: 10px;
	margin-bottom: 2px;
	width: 89px;
	float: left;
	line-height: 0px;
}

.form3-3-text-dimensions{
	margin-top: -5px;
	margin-left: 10px;
	width: 89px;
	float: left;
	line-height: 0px;
}

.dco-block{
	margin-top: 4px;
	padding-left: 10px;
	float: left;
	width: 78px;
	height: 108px;
	border-left: 1px #bdc6ca solid;
}

.form3-text{
	margin-top: 5px;
	color: black;
	font-size: 9px;
	line-height: 0px;
}

.select7{
	width: 56px;
}

.search-button-block3{
	margin-top: -5px;
	margin-right: 23px;
	float: right;
	width: 50px;
	border-bottom: 2px solid #a6b1bc;
	clear: both;
}

select{
	height: 18px;
}

/*///////////////// END OF SORTING ///////////////////// */





/*////////////////// LEFT SIDEBAR /////////////////////*/
.catalog{
	margin-left: 35px;
	margin-top: 20px;
	width: 190px;
	height: 625px;
	float: left;
}



/*/////////CATALOG BUTTON//////////*/
.catalog-button{
	margin-top: -6px;
	margin-left: 10px;
	margin-bottom: 14px;
	width: 181px;
	height: 25px;
	border: 1px solid #8b979c;
	border-radius: 13px;
}

.blue-circle2{
	margin-top: 1px;
	margin-left: 2px;
	padding-top: 4px;
	background: linear-gradient(180deg, rgb(30, 101, 132) 15%, rgb(12, 51, 87) 85%);
	width: 22px;
	height: 18px;
	border-radius: 100%;
	text-align: center;
	float: left;
}

.catalog-text{
	letter-spacing: 0.4px;
	text-decoration: none;
	margin-left: 3px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
} /*///////////////////////////////////////*/



/*/////////////TYRE BUTTON/////////////////*/
.tyre-button{
	margin-top: 2px;
	margin-left: 12px;
	width: 148px;
	height: 26px;
	border: 1px solid #8b979c;
	border-radius: 13px;
	clear: both;
}

.blue-circle3{
	margin-top: 2px;
	margin-left: 4px;
	width: 10px;
	height: 10px;
	border: 6px solid #114165;
	border-radius: 100%;
	text-align: center;
	float: left;
}

.catalog-text1{
	letter-spacing: 1.6px;
	text-decoration: none;
	margin-left: 3px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}

/*/////////////DISKS BUTTON////////////*/

.blue-circle4{
	margin-top: 2px;
	margin-left: 3px;
	width: 10px;
	height: 10px;
	border: 6px solid #114165;
	border-radius: 100%;
	text-align: center;
	float: left;
}


.catalog-text2{
	letter-spacing: 1.6px;
	text-decoration: none;
	margin-left: 4px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}

.blue-marker2{
	margin-top: 7px;
	margin-left: 8px;
	margin-right: 3px;
	width: 3px;
	height: 3px;
	border: 2px solid #79878d;
	border-radius: 100%;
	float: left;

} /*///////////////////////////////////////*/



/*////////////////////////BOLTS BUTTON ////////////////////////*/

.blue-circle5{
	margin-top: 2px;
	margin-left: 3px;
	width: 10px;
	height: 10px;
	border: 6px solid #114165;
	border-radius: 100%;
	text-align: center;
	float: left;
}

.catalog-text3{
	letter-spacing: 1px;
	text-decoration: none;
	margin-left: 3px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}

.list{
	margin-top: 2px;
	margin-left: 41px;
	width: 148px;
	height: 25px;	
} /*///////////////////////////////////////////////*/



.catalog-text4{
	letter-spacing: 2px;
	text-decoration: none;
	margin-left: 3px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}

.catalog-text5{
	letter-spacing: 1.5px;
	text-decoration: none;
	margin-left: 6px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}

.brand-button{
	margin-top: -8px;
	margin-left: 0px;
	margin-bottom: 14px;
	width: 181px;
	height: 25px;
	border: 1px solid #8b979c;
	border-radius: 13px;
}

.blue-circle6{
	margin-top: 1px;
	margin-left: 3px;
	padding-top: 4px;
	background: linear-gradient(180deg, rgb(30, 101, 132) 15%, rgb(12, 51, 87) 85%);
	width: 22px;
	height: 18px;
	border-radius: 100%;
	text-align: center;
	float: left;
}

.brand-text{
	letter-spacing: 0.7px;
	text-decoration: none;
	margin-left: 6px;
	font-size: 13px;
	line-height: 24px;
	float: left;
	color: #114165;
}




.prod-block1{
	margin-top: -1px;
	width: 155px;
	height: 115px;
}

.prod-block2{
	width: 155px;
	height: 115px;
	margin-top: 13px;
}


.prod-block3{
	width: 155px;
	height: 115px;
	margin-top: 12px;
}

.prod-block4{
	margin-left: 2px;
	width: 155px;
	height: 115px;
	margin-top: 12px;
}


.tyre-button2{
	margin-top: 0px;
	margin-left: 15px;
	width: 134px;
	height: 26px;
	border: 1px solid #8b979c;
	border-radius: 13px;
	clear: both;
}

.tyre-button4{
	margin-top: 14px;
	margin-left: 12px;
	width: 135px;
	height: 26px;
	border: 1px solid #8b979c;
	border-radius: 13px;
	clear: both;
}


.blue-circle4{
	margin-top: 2px;
	margin-left: 3px;
	width: 10px;
	height: 10px;
	border: 6px solid #114165;
	border-radius: 100%;
	text-align: center;
	float: left;
}


.list1{
	margin-top: 2px;
	margin-left: 40px;
	width: 148px;
	height: 25px;	
}

.list2{
	margin-top: 1px;
	margin-left: 40px;
	width: 148px;
	height: 25px;	
}

.blue-marker{
	margin-top: 6px;
	margin-left: 7px;
	margin-right: 3px;
	width: 3px;
	height: 3px;
	border: 2px solid #79878d;
	border-radius: 100%;
	float: left;
}

.blue-marker3{
	margin-top: 7.8px;
	margin-left: 7px;
	margin-right: 3px;
	width: 3px;
	height: 3px;
	border: 2px solid #79878d;
	border-radius: 100%;
	float: left;
}

.list-item{
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	letter-spacing: 0.5px;
	color: #465961;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
}

.list-margin{
	margin-bottom: 5.5px;
}

.list-margin2{
	margin-bottom: 5.5px;
}

.list-margin3{
	margin-bottom: 5.3px;
}


.list li:hover .list-item{
	color: #0c3256;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	text-decoration: underline;
}

.list1 li:hover .list-item{
	color: #0c3256;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	text-decoration: underline;
}

.list2 li:hover .list-item{
	color: #0c3256;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	text-decoration: underline;
}

.list li:hover .blue-marker{
	border: 2px solid #313a55;
	
}

/*///////////////////// CONTENT ///////////////////////*/

.goods{
	margin: 11px 10px 0 12px;
	height: 627px;
	width: 525px;
	float: left;
	background: linear-gradient(180deg, rgb(229, 231, 232) 5%, rgb(147, 167, 176) 85%);
	border-radius: 2px;
}

.product{
	float: left;
	margin-top: 3px;
	margin-bottom: 5px;
	height: 190px;
}

.wheel1,
.wheel2,
.wheel3{
	width: 136px;
	height: 122px;
	padding-top: 5px;
	background-color: white;
	border: 1px solid #b0b9bc;
	border-radius: 7px;
	text-align: center;
}

.wheel1{
	margin: 40px 15px 0px 22px;
	position: relative;
}

.wheel2{
	margin: 40px 15px 0px 15px;
	position: relative;
}

.wheel3{
	margin: 40px 15px 0px 15px;
	position: relative;
}

.w-name{
	position: absolute;
	display: block;
	top: -29px;
	left: 33px;
	color: #206988;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.w-model{
	position: absolute;
	display: block;
	font-size: 13px;
	top: -15px;
	left: 13px;
	color: black;
	letter-spacing: 0.42px;
}

.w-price{
	position: absolute;
	top: 131px;
	left: 34px;
	display: block;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: #114165;
}


/*////////////////// RIGHT SIDEBAR /////////////////////*/
.brands{
	margin-right: 35px;
	margin-top: 20px;
	width: 190px;
	height: 625px;
	float: left;

}

.brand-check{
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 12px;
}

.brand-check input{
	margin-left: 13px;
	margin-top: 6px;
	height: 11px;
}

.brand-check label{
	margin-top: -2px;
	margin-left: 5px;
	letter-spacing: 1.1px;
}

.brand-check2{
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: 9px;
	font-size: 12px;
}

.brand-check2 input{
	margin-left: 13px;
	margin-top: 6px;
	height: 11px;
}

.brand-check2 label{
	margin-top: -2px;
	margin-left: 5px;
	letter-spacing: 1.1px;
}

.choose-button{
	margin-top: 7px;
	margin-left: 25px;
	width: 81px;
	height: 25px;
	background: linear-gradient(180deg, rgb(31, 103, 135) 10%, rgb(12, 51, 87) 60%);
	border-radius: 12px;
	border: 0;
	color: white;
	font-size: 12px;

}

/*///////////////////// COMPANIES' LOGOS /////////////////////*/

.comp-bar{
	margin-left: 159px;
	padding-top: 35px;
	display: block;
	height: 50px;
	clear: both;
}

.companies{
	display: inline-block;
	float: left;
	margin-left: 5px;
	margin-right: 8px; 
}

/*///////////////////// FOOTER /////////////////////*/
.foot{
	margin: 0 auto;
	margin-top: -2px;
	position: relative;
	width: 910px;
	height: 100px;
	background-color: #213a4d;
}

.f-menu{
	position: absolute;
	top: 8px;
	left: 300px;
	display: block;
	margin: auto;
}

.f-menu-item{
	margin-left: 10px;
	margin-right: 11px;
	display: block;
	float: left;
}

.f-dost{
	margin-left: 11px;
	margin-right: 10px;
	letter-spacing: 0.4px;
}

.f-stat{
	margin-left: 12px;
	margin-right: 9px;
	letter-spacing: 0.5px;
}

.f-cont{
	margin-left: 15px;
	letter-spacing: 0px;
}

.f-menu-item a{
	font-size: 12px;
	color: #bec6c9;
	text-decoration: none;
}

.f-menu-item:hover a{
	color: #4d9fbd;
}

.sep{
	margin-top: 4px;
	color: #bec6c9;
	float: left;
	font-size: 11px;
}

.copy{
	position: absolute;
	font-size: 10px;
	top: 39px;
	left: 377px;
	color: #7f4740;
	letter-spacing: 0.5px;
}

.copy a{
	margin-left: -3px;
	color: #7f4740;
	text-decoration: none;
	letter-spacing: 0.45px;

}